doctype html
html
  head
    meta(name='viewport' content='width=device-width, initial-scale=1')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css')

  
    title Harshal Dance academy
    block scripts
    script(src='/static/img/index.js')

    block style
  body
    #navbar
      .both
        img(src='' alt='logo')
        span#logo
          h3 SourceOfKnowledge
        input#myInput(type='text' placeholder='Search for your coder' onkeyup='searchYoutubers()')
        a.fa.fa-facebook(href='facebook.com')
        a.fa.fa-twitter(href='google.com')
  
      nav#bar
        button.barger(onclick='replace()')
          .line
          .line
          .line
        ul
          li
            a(href='/') Home
          li
            a(href='/about') About
          li
            a(href='/services') Services
          li
            a(href='/class') Class Info
          li
            a(href='/contact') Contact Us
          li
            a(href='/G-mail') G-mail Us

      .navbar
        button.bargerSecond(onclick='replace()')
          .line
          .line
          .line
        a(href='#home') Home
        a(href='#news') About
        .dropdown
          button.dropbtn
            | More 
            .c
            .c
            .c
          .dropdown-content
            a(href='#') Link 1
            a(href='#') Link 2
            a(href='#') Link 3

    block content
    nav#vertical-menu
        ul#myUL
          input#inner(type='text' placeholder='Search for your coder' onkeyup='search()')
          li #[a(href="/hangover") Hindi Songs]
          li #[a(href="/hangover") Letest Hindi Songs]
          li #[a(href="/hangover") Pangabi Songs]
          li #[a(href="/hangover") South Indian Songs]
          li #[a(href="/hangover") English Songs]
          li #[a(href="/hangover") Letest English Songs]
          li #[a(href="/shreya") shreya]
          li #[a(href="/hangover") south]
          li #[a(href="/hangover") indian]
          li #[a(href="/hangover") bhojpuri]
          li #[a(href="/hangover") harshal]
          li #[a(href="/hangover") full south songs]
          li #[a(href="/hangover") letest]
          li #[a(href="/hangover") Tere nal]
          li #[a(href="/hangover") pyar tune kya kiya]
          li #[a(href="/hangover") Hava hava]
          li #[a(href="/hangover") tu jo mila]
          li #[a(href="/hangover") Ham tum sath ho]
          li #[a(href="/hangover") Hamari adhuri kahani]
          li #[a(href="/hangover") End game]
          li #[a(href="/hangover") Ham tum sath ho]
          li #[a(href="/hangover") hamare sanam]
          li #[a(href="/hangover") ham tum ]
          li #[a(href="/hangover") son bar ]
          li #[a(href="/hangover") Tera yar ho me]
          li #[a(href="/hangover") hame na bhula]
          li #[a(href="/hangover") tu jane na ]
          li #[a(href="/hangover") tu hai hai]
          li #[a(href="/hangover") hamnava ]
          li #[a(href="/hangover") tuze dekha]
          li #[a(href="/hangover") hamare sanam]
          li #[a(href="/hangover") tum se hai]
          li #[a(href="/hangover") hame na dhekho is tarah]

          //- Darshan songs
          li #[a(href="/HavaBanke") Hava Banke]
          li #[a(href="/EkTarfa") Ek Tarfa]
          li #[a(href="/judaiyaan") Judaiyaan]
          li #[a(href="/TereNal") Tere Nal]
          li #[a(href="/BhulaDunga") Bhula Dunga]
          li #[a(href="/hangover") Letest English Songs]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") content]
          li #[a(href="/hangover") Hame na bhula]
    footer
      .footer
