extends base.pug

block scripts
    
block style
    style
      include ../static/style.css 
      include ../static/home.css 

block content
    .box
        span.name Lorem, ipsum dolor sit amet consectetur adipisicing elit. Odit, corrupti.
        section#full  
            form.harshal(method='get' action='/shreya')
                button.btn1.btnall(type='submit')
                    h5 Shreya Ghoshal   
        
            form.harshal(method='get' action='/atif')
                button.btn2.btnall(type='submit')
                    h5 Atif Aslam  
            form.harshal(method='get' action='/neha')
                button.btn3.btnall(type='submit')
                    h5 Neha Kakkar  
            form.harshal(method='get' action='/darshan')
                button.btn4.btnall(type='submit')
                    h5 Darshan Raval  
            form.harshal(method='get' action='/arjit')
                button.btn5.btnall(type='submit')
                    h5 Arjit Singh  
            form.harshal(method='get' action='/ar')
                button.btn6.btnall(type='submit')
                    h5 A.R Rahaman
            form.harshal(method='get' action='/guru')
                button.btn7.btnall(type='submit')
                    h5 Guru Randhava 
            form.harshal(method='get' action='/hony')
                button.btn8.btnall(type='submit')
                    h5 Hony Singh  
            form.harshal(method='get' action='/tulasi')
                button.btn9.btnall(type='submit')
                    h5 Tulasi Kumar  
       
        




