extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../static/style.css

block content
    nav#vertical-menu
        ul#myUL
          li #[a(href="/New hindi") Hindi Songs]
          li #[a(href="/Letest Hindi Songs") Letest Hindi Songs]
          li #[a(href="/Hindi") Pangabi Songs]
          li #[a(href="/south indian") South Indian Songs]
          li #[a(href="/bangali songs") English Songs]
          li #[a(href="/English songs") Letest English Songs]
          li #[a(href="/shreya") shreya]
          li #[a(href="/content") south]
          li #[a(href="/content") indian]
          li #[a(href="/content") bhojpuri]
          li #[a(href="/content") harshal]
          li #[a(href="/content") full south songs]
          li #[a(href="/content") letest]
          li #[a(href="/content") Tere nal]
          li #[a(href="/content") pyar tune kya kiya]
          li #[a(href="/content") Hava hava]
          li #[a(href="/content") tu jo mila]
          li #[a(href="/content") Ham tum sath ho]
          li #[a(href="/content") Hamari adhuri kahani]
          li #[a(href="/content") End game]
          li #[a(href="/content") Ham tum sath ho]
          li #[a(href="/content") hamare sanam]
          li #[a(href="/content") ham tum ]
          li #[a(href="/content") son bar ]
          li #[a(href="/content") Tera yar ho me]
          li #[a(href="/content") hame na bhula]
          li #[a(href="/content") tu jane na ]
          li #[a(href="/content") tu hai hai]
          li #[a(href="/content") hamnava ]
          li #[a(href="/content") tuze dekha]
          li #[a(href="/content") hamare sanam]
          li #[a(href="/content") tum se hai]
          li #[a(href="/content") hame na dhekho is tarah]