extends base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../static/style.css 
      include ../static/shreya.css
      
block content
    
    #hindilyrics
        span#headingh Pal Lyrics (Hindi)
            p
            | &#x939;&#x92E;&#x94D;&#x92E;..
            p
            p
            | &#x92A;&#x932; &#x90F;&#x915; &#x92A;&#x932; &#x92E;&#x947;&#x902; &#x939;&#x940; &#x925;&#x92E; &#x938;&#x93E; &#x917;&#x92F;&#x93E;
            br
            | &#x924;&#x942; &#x939;&#x93E;&#x925; &#x92E;&#x947;&#x902; &#x939;&#x93E;&#x925; &#x91C;&#x94B; &#x926;&#x947; &#x917;&#x92F;&#x93E;
            br
            | &#x91A;&#x932;&#x942;&#x901; &#x92E;&#x948;&#x902; &#x91C;&#x939;&#x93E;&#x902; &#x91C;&#x93E;&#x90F; &#x924;&#x942;
            br
            | &#x926;&#x93E;&#x92F;&#x947;&#x902; &#x92E;&#x948;&#x902; &#x924;&#x947;&#x930;&#x947;, &#x92C;&#x93E;&#x92F;&#x947;&#x902; &#x924;&#x942;
            br
            | &#x939;&#x942;&#x901; &#x930;&#x941;&#x924; &#x92E;&#x948;&#x902;, &#x939;&#x935;&#x93E;&#x90F;&#x902; &#x924;&#x942;
            br
            | &#x938;&#x93E;&#x925;&#x93F;&#x92F;&#x93E;..
            p
            | &#x939;&#x902;&#x938;&#x942; &#x92E;&#x948;&#x902; &#x91C;&#x92C; &#x917;&#x93E;&#x92F;&#x947; &#x924;&#x942;
            br
            | &#x930;&#x94B;&#x90A;&#x901; &#x92E;&#x948;&#x902; &#x92E;&#x941;&#x930;&#x91D;&#x93E;&#x92F;&#x947; &#x924;&#x942;
            br
            | &#x92D;&#x940;&#x917;&#x942;&#x901; &#x92E;&#x948;&#x902; &#x92C;&#x930;&#x938;&#x93E;&#x90F; &#x924;&#x942;
            br
            | &#x938;&#x93E;&#x925;&#x93F;&#x92F;&#x93E;..
            p
            | &#x938;&#x93E;&#x92F;&#x93E; &#x92E;&#x947;&#x930;&#x93E; &#x939;&#x948; &#x924;&#x947;&#x930;&#x940; &#x936;&#x915;&#x932;
            br
            | &#x939;&#x93E;&#x932; &#x939;&#x948; &#x910;&#x938;&#x93E; &#x915;&#x941;&#x91B; &#x906;&#x91C;&#x915;&#x932;
            br
            | &#x938;&#x941;&#x92C;&#x939; &#x92E;&#x948;&#x902; &#x939;&#x942;&#x901; &#x924;&#x942; &#x927;&#x941;&#x92A; &#x939;&#x948;
            br
            | &#x92E;&#x948;&#x902; &#x906;&#x908;&#x928;&#x93E; &#x939;&#x942;&#x901; &#x924;&#x942; &#x930;&#x942;&#x92A; &#x939;&#x948;
            br
            | &#x92F;&#x947; &#x924;&#x947;&#x930;&#x93E; &#x938;&#x93E;&#x925; &#x916;&#x942;&#x92C; &#x939;&#x948;
            br
            | &#x939;&#x92E;&#x938;&#x92B;&#x93C;&#x930;..
            p
            | &#x924;&#x942; &#x907;&#x936;&#x94D;&#x915; &#x915;&#x947; &#x938;&#x93E;&#x930;&#x947; &#x930;&#x902;&#x917; &#x926;&#x947; &#x917;&#x92F;&#x93E;
            br
            | &#x92B;&#x93F;&#x930; &#x916;&#x940;&#x902;&#x91A; &#x915;&#x947; &#x905;&#x92A;&#x928;&#x947; &#x938;&#x902;&#x917; &#x932;&#x947; &#x917;&#x92F;&#x93E;
            br
            | &#x915;&#x939;&#x940;&#x902; &#x92A;&#x947; &#x916;&#x94B; &#x91C;&#x93E;&#x90F; &#x91C;&#x94B;
            br
            | &#x91C;&#x939;&#x93E;&#x902; &#x930;&#x941;&#x915; &#x91C;&#x93E;&#x90F; &#x92A;&#x932;
            br
            | &#x915;&#x92D;&#x940; &#x928;&#x93E; &#x92B;&#x93F;&#x930; &#x906;&#x92F;&#x947; &#x915;&#x932;
            br
            | &#x938;&#x93E;&#x925;&#x93F;&#x92F;&#x93E;..
            p
            | &#x90F;&#x915; &#x92E;&#x93E;&#x902;&#x917;&#x947; &#x905;&#x917;&#x930; &#x938;&#x94C; &#x916;&#x94D;&#x935;&#x93E;&#x92C; &#x926;&#x942;&#x902;
            br
            | &#x924;&#x942; &#x930;&#x939;&#x947; &#x916;&#x941;&#x936;, &#x92E;&#x948;&#x902; &#x906;&#x92C;&#x93E;&#x926; &#x939;&#x942;&#x901;
            br
            | &#x924;&#x942; &#x938;&#x92C;&#x938;&#x947; &#x91C;&#x941;&#x926;&#x93E; &#x91C;&#x941;&#x926;&#x93E; &#x938;&#x93E; &#x939;&#x948;
            br
            | &#x924;&#x942; &#x905;&#x92A;&#x928;&#x940; &#x924;&#x930;&#x939; &#x924;&#x930;&#x939; &#x938;&#x93E; &#x939;&#x948;
            br
            | &#x92E;&#x941;&#x91D;&#x947; &#x932;&#x917;&#x924;&#x93E; &#x928;&#x939;&#x940;&#x902; &#x939;&#x948; &#x924;&#x942; &#x926;&#x942;&#x938;&#x930;&#x93E;
            p
            | &#x92A;&#x932; &#x90F;&#x915; &#x92A;&#x932; &#x92E;&#x947;&#x902; &#x939;&#x940; &#x925;&#x92E; &#x938;&#x93E; &#x917;&#x92F;&#x93E;
            br
            | &#x924;&#x942; &#x939;&#x93E;&#x925; &#x92E;&#x947;&#x902; &#x939;&#x93E;&#x925; &#x91C;&#x94B; &#x926;&#x947; &#x917;&#x92F;&#x93E;
            br
            | &#x91A;&#x932;&#x942;&#x901; &#x92E;&#x948;&#x902; &#x91C;&#x939;&#x93E;&#x902; &#x91C;&#x93E;&#x90F; &#x924;&#x942;
            br
            | &#x926;&#x93E;&#x92F;&#x947;&#x902; &#x92E;&#x948;&#x902; &#x924;&#x947;&#x930;&#x947;, &#x92C;&#x93E;&#x92F;&#x947;&#x902; &#x924;&#x942;
            br
            | &#x939;&#x942;&#x901; &#x930;&#x941;&#x924; &#x92E;&#x948;&#x902;, &#x939;&#x935;&#x93E;&#x90F;&#x902; &#x924;&#x942;
            br
            | &#x938;&#x93E;&#x925;&#x93F;&#x92F;&#x93E;..
            p
            | &#x939;&#x902;&#x938;&#x942; &#x92E;&#x948;&#x902; &#x91C;&#x92C; &#x917;&#x93E;&#x92F;&#x947; &#x924;&#x942;
            br
            | &#x930;&#x94B;&#x90A;&#x901; &#x92E;&#x948;&#x902; &#x92E;&#x941;&#x930;&#x91D;&#x93E;&#x92F;&#x947; &#x924;&#x942;
            br
            | &#x92D;&#x940;&#x917;&#x942;&#x901; &#x92E;&#x948;&#x902; &#x92C;&#x930;&#x938;&#x93E;&#x90F; &#x924;&#x942;
            br
            | &#x938;&#x93E;&#x925;&#x93F;&#x92F;&#x93E;.. &#x939;&#x94B;.. &#x92E;&#x92E;..
            br
            | &#x92E;&#x92E;&#x94D;&#x92E;..



    #englishlyrics
        span#headinge Pal Lyrics (English)
            p Hmm..
            p
            | pal ek pal mein hi tham sa gaya
            br
            | tu haath mein haath jo de gaya
            br
            | chalun main jahan jaye tu
            br
            | dayein main tere, baayein tu
            br
            | hun rut main, hawayein tu
            br
            | saathiya..
            p
            | hansu main jab gaaye tu
            br
            | roun main murjhaye tu
            br
            | bhigun main barsaye tu
            br
            | saathiya..
            p
            | saaya mera hai teri shakal
            br
            | haal hai aisa kuch aajkal
            br
            | subah main hun tu dhoop hai
            br
            | main aaina hun tu roop hai
            br
            | yeh tera saath khoob hai
            br
            | humsafar..
            p
            | tu ishq ke saare rang de gaya
            br
            | phir khinch ke apne sang le gaya
            br
            | kahin pe kho jaaye chal
            br
            | jahan ruk jaaye pal
            br
            | kabhi naa phir aaye kal
            br
            | saathiya..
            p
            | ek maange agar sau khwaab doon
            br
            | tu rahe khush, main aabad hun
            br
            | tu sabse juda juda sa hai
            br
            | tu apni tarah tarah sa hai
            br
            | mujhe lagta nahi hai tu dusra
            p
            | pal ek pal mein hi tham sa gaya
            br
            | tu haath mein haath jo de gaya
            br
            | chalun main jahaan jaaye tu
            br
            | dayein main tere, baayein tu
            br
            | hun rut main, hawayein tu
            br
            | saathiya..
            p
            | hansu main jab gaaye tu
            br
            | roun main murjhaye tu
            br
            | bhigun main barsaaye tu
            br
            | saathiya..
            br
            | ho.. mm..
            br
            | mmm..
   

