extends ../base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../../static/style.css 
      include ../../static/stylecontact.css
      include ../../static/styleabout.css 
      include ../../static/shreya.css 
      include ../../static/darshansongs/BhulaDunga.css

block content
    nav.vertical-menu1
        ul
          li #[a(href="/hangover") Hangover]
          li #[a(href="/mastani") Divani Mastani]
          li #[a(href="/tumakolekar") Tumako lekar]
          li #[a(href="/judaiyaan") judaiyaan]
          li #[a(href="/NaWhoMe") Na Who Me]
          li #[a(href="/BakiHai") Baki Hai]
          li #[a(href="/LagiNachute") Lagi Na Chute]
          li #[a(href="/bahara") Bahara]
          li #[a(href="/FhirSeTitle") Fhir Se Title Song]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
    #hindilyrics
        span Bhula Dunga (Hindi)
            p
            | &#x90F;&#x915; &#x92A;&#x932; &#x92E;&#x947;&#x902; &#x924;&#x941;&#x92E;&#x915;&#x94B; &#x92E;&#x948;&#x902; &#x92D;&#x942;&#x932;&#x93E; &#x926;&#x942;&#x902;&#x917;&#x93E;
            br
            | &#x926;&#x93F;&#x932; &#x924;&#x94B;&#x921;&#x93C;&#x928;&#x947; &#x915;&#x940; &#x92F;&#x947; &#x938;&#x91C;&#x93E; &#x926;&#x942;&#x902;&#x917;&#x93E;
            br
            | &#x90F;&#x915; &#x92A;&#x932; &#x92E;&#x947;&#x902; &#x924;&#x941;&#x92E;&#x915;&#x94B; &#x92E;&#x948;&#x902; &#x92D;&#x942;&#x932;&#x93E; &#x926;&#x942;&#x902;&#x917;&#x93E;
            br
            | &#x926;&#x93F;&#x932; &#x924;&#x94B;&#x921;&#x93C;&#x928;&#x947; &#x915;&#x940; &#x92F;&#x947; &#x938;&#x91C;&#x93E; &#x926;&#x942;&#x902;&#x917;&#x93E;
            p
            p
            | &#x92E;&#x947;&#x930;&#x940; &#x92F;&#x93E;&#x926;&#x94B;&#x902; &#x915;&#x947; &#x92E;&#x94C;&#x938;&#x92E; &#x91C;&#x94B; &#x924;&#x941;&#x92E;&#x92A;&#x947; &#x91B;&#x93E;&#x90F;&#x902;&#x917;&#x947;
            br
            | &#x91A;&#x93E;&#x939;&#x947; &#x91C;&#x93F;&#x924;&#x928;&#x93E; &#x924;&#x941;&#x92E; &#x91A;&#x93E;&#x939;&#x94B;&#x917;&#x947; &#x92A;&#x930; &#x928;&#x93E; &#x906;&#x90F;&#x902;&#x917;&#x947;
            br
            | &#x924;&#x941;&#x92E; &#x938;&#x947; &#x926;&#x942;&#x930; &#x939;&#x92E; &#x907;&#x924;&#x928;&#x93E; &#x939;&#x94B; &#x91C;&#x93E;&#x90F;&#x902;&#x917;&#x947;
            p
            | &#x932;&#x92E;&#x94D;&#x939;&#x93E; &#x932;&#x92E;&#x94D;&#x939;&#x93E; &#x924;&#x947;&#x930;&#x947; &#x92C;&#x93F;&#x928; &#x91C;&#x93F;&#x92F;&#x93E; &#x928;&#x93E; &#x91C;&#x93E;&#x92F;&#x947; &#x930;&#x947;
            br
            | &#x926;&#x947;&#x916;&#x942; &#x939;&#x930; &#x91C;&#x917;&#x939; &#x92E;&#x948;&#x902; &#x92C;&#x938; &#x924;&#x947;&#x930;&#x947; &#x939;&#x940; &#x938;&#x93E;&#x92F;&#x947; &#x930;&#x947;
            br
            | &#x932;&#x92E;&#x94D;&#x939;&#x93E; &#x932;&#x92E;&#x94D;&#x939;&#x93E; &#x924;&#x947;&#x930;&#x947; &#x92C;&#x93F;&#x928; &#x91C;&#x93F;&#x92F;&#x93E; &#x928;&#x93E; &#x91C;&#x93E;&#x92F;&#x947; &#x930;&#x947;
            br
            | &#x926;&#x947;&#x916;&#x942; &#x939;&#x930; &#x91C;&#x917;&#x939; &#x92E;&#x948;&#x902; &#x92C;&#x938; &#x924;&#x947;&#x930;&#x947; &#x939;&#x940; &#x938;&#x93E;&#x92F;&#x947; &#x930;&#x947;
            p
            | &#x92E;&#x948;&#x902; &#x91F;&#x942;&#x91F;&#x93E; &#x939;&#x941;&#x906; &#x938;&#x93E;&#x91C; &#x939;&#x942;&#x901; &#x924;&#x942; &#x92E;&#x947;&#x930;&#x940; &#x906;&#x935;&#x93E;&#x91C;&#x93C; &#x925;&#x93E;
            br
            | &#x932;&#x93F;&#x916;&#x940; &#x925;&#x940; &#x91C;&#x939;&#x93E;&#x902; &#x91C;&#x93C;&#x93F;&#x928;&#x94D;&#x926;&#x917;&#x940; &#x924;&#x942; &#x92E;&#x947;&#x930;&#x940; &#x915;&#x93F;&#x924;&#x93E;&#x92C; &#x925;&#x93E;
            br
            | &#x905;&#x92C; &#x928;&#x93E; &#x92B;&#x93F;&#x915;&#x930; &#x915;&#x930;&#x928;&#x93E; &#x939;&#x92E; &#x91C;&#x940; &#x91C;&#x93E;&#x90F;&#x902;&#x917;&#x947;
            br
            | &#x907;&#x938; &#x926;&#x930;&#x94D;&#x926; &#x915;&#x94B; &#x927;&#x940;&#x930;&#x947; &#x927;&#x940;&#x930;&#x947; &#x92A;&#x940; &#x91C;&#x93E;&#x90F;&#x902;&#x917;&#x947;
            p
            | &#x91A;&#x93E;&#x939;&#x947; &#x91C;&#x93F;&#x924;&#x928;&#x93E; &#x924;&#x941; &#x91A;&#x93E;&#x939;&#x94B;&#x917;&#x947; &#x92A;&#x930; &#x928;&#x93E; &#x906;&#x90F;&#x902;&#x917;&#x947;
            br
            | &#x924;&#x941;&#x92E; &#x938;&#x947; &#x926;&#x942;&#x930; &#x939;&#x92E; &#x907;&#x924;&#x928;&#x93E; &#x939;&#x94B; &#x91C;&#x93E;&#x90F;&#x902;&#x917;&#x947;
            br
            | &#x91A;&#x93E;&#x939;&#x947; &#x91C;&#x93F;&#x924;&#x928;&#x93E; &#x924;&#x941; &#x91A;&#x93E;&#x939;&#x94B;&#x917;&#x947; &#x92A;&#x930; &#x928;&#x93E; &#x906;&#x90F;&#x902;&#x917;&#x947;
            br
            | &#x924;&#x941;&#x92E; &#x938;&#x947; &#x926;&#x942;&#x930; &#x939;&#x92E; &#x907;&#x924;&#x928;&#x93E; &#x939;&#x94B; &#x91C;&#x93E;&#x90F;&#x902;&#x917;&#x947;
            br
            |&#x924;&#x941;&#x92E; &#x938;&#x947; &#x926;&#x942;&#x930; &#x939;&#x92E; &#x907;&#x924;&#x928;&#x93E; &#x939;&#x94B; &#x91C;&#x93E;&#x90F;&#x902;&#x917;&#x947;




    #englishlyrics
        span#headinge Bhula Dunga (English)
            p
            | Ek pal me tumko, mai bhula dunga
            br
            | Dil todne ki ye saza dunga
            br
            | Ek pal me tumko, mai bhula dunga
            br
            | Dil todne ki ye saza dunga
            br
            br
            | Meri yaadon ke mausam jo tumpe chhayenge
            br
            | Chahe jitna tum chahoge, par na aayenge
            br
            | Tumse dur hum itna ho jayenge
            br
            br
            | Lamha, lamha tere bin jiya na jaye re
            br
            | Dekhu har jagah me bas tere hi say re
            br
            | Lamha, lamha tere bin jiya na jaye re
            br
            | Dekhu har jagah me bas tere hi say re
            br
            br
            | Mai toota hua saaz hu
            br
            | Tu meri aawaz tha
            br
            | Likhi thi jahan Zindagi
            br
            | Tu meri kitab tha
            br
            | Ab na fikar karna hum jee jayenge
            br
            | Is dard ko dheere dheere pee jayenge
            br
            br
            | Chahe jitna tum chahoge, par na aayenge
            br
            | Tumse dur hum itna ho jayenge
            br
            | Chahe jitna tum chahoge, par na aayenge
            br
            | Tumse dur hum itna ho jayenge
            br
            br
            | Tumse dur hum itna ho jayengeg
