extends ../base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../../static/style.css 
      include ../../static/stylecontact.css
      include ../../static/styleabout.css 
      include ../../static/shreya.css 
      include ../../static/darshansongs/EkTarfa.css

block content
    nav.vertical-menu1
        ul
          li #[a(href="/HavaBanke") Hava Banke]
          li #[a(href="/EkTarfa") Ek Tarfa]
          li #[a(href="/content") Judaiyaan]
          li #[a(href="/content") South Indian Songs]
          li #[a(href="/content") English Songs]
          li #[a(href="/content") Letest English Songs]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]




    #hindilyrics
        span Hangover Lyrics (Hindi) 
            | &#x905;&#x902;&#x916;&#x93F;&#x92F;&#x94B;&#x902; &#x938;&#x947; &#x926;&#x930;&#x93F;&#x92F;&#x93E; &#x92C;&#x939; &#x917;&#x92F;&#x93E; &#x939;&#x93E;&#x92F;
            br
            | &#x916;&#x94D;&#x935;&#x93E;&#x92C; &#x935;&#x94B; &#x905;&#x927;&#x941;&#x930;&#x93E; &#x930;&#x939; &#x917;&#x92F;&#x93E;
            br
            | &#x91C;&#x917; &#x92D;&#x940; &#x92A;&#x930;&#x93E;&#x92F;&#x93E; &#x939;&#x94B; &#x917;&#x92F;&#x93E; &#x939;&#x93E;&#x92F;
            br
            | &#x91C;&#x941;&#x926;&#x93E; &#x924;&#x947;&#x930;&#x93E; &#x938;&#x93E;&#x92F;&#x93E; &#x939;&#x94B; &#x917;&#x92F;&#x93E; 
            p
            p
            | &#x924;&#x947;&#x930;&#x940; &#x926;&#x941;&#x928;&#x93F;&#x92F;&#x93E; &#x92E;&#x941;&#x91D;&#x947; &#x905;&#x92C; &#x928;&#x93E; &#x917;&#x935;&#x93E;&#x930;&#x93E; &#x939;&#x948;
            br
            | &#x92A;&#x930; &#x924;&#x942; &#x939;&#x938;&#x924;&#x940; &#x930;&#x939; &#x92C;&#x938; &#x92F;&#x939;&#x940; &#x938;&#x939;&#x93E;&#x930;&#x93E; &#x939;&#x948;
            p
            | &#x92E;&#x94B;&#x939;&#x92C;&#x94D;&#x92C;&#x924; &#x939;&#x94B; &#x917;&#x92F;&#x940; &#x925;&#x940; &#x926;&#x94B;&#x928;&#x94B;&#x902; &#x915;&#x94B;
            br
            | &#x90F;&#x915; &#x905;&#x930;&#x938;&#x93E; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            br
            | &#x92E;&#x947;&#x930;&#x93E; &#x92F;&#x947; &#x907;&#x936;&#x94D;&#x915; &#x926;&#x94B; &#x924;&#x930;&#x95E;&#x93E;
            br
            | &#x90F;&#x915; &#x924;&#x930;&#x95E;&#x93E; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            p
            | &#x92E;&#x94B;&#x939;&#x92C;&#x94D;&#x92C;&#x924; &#x939;&#x94B; &#x917;&#x92F;&#x940; &#x925;&#x940; &#x926;&#x94B;&#x928;&#x94B;&#x902; &#x915;&#x94B;
            br
            | &#x90F;&#x915; &#x905;&#x930;&#x938;&#x93E; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            br
            | &#x92E;&#x947;&#x930;&#x93E; &#x92F;&#x947; &#x907;&#x936;&#x94D;&#x915; &#x926;&#x94B; &#x924;&#x930;&#x95E;&#x93E;
            br
            | &#x90F;&#x915; &#x924;&#x930;&#x95E;&#x93E; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            p
            | &#x91A;&#x93E;&#x901;&#x926; &#x92D;&#x940; &#x930;&#x942;&#x920;&#x93E; &#x924;&#x93E;&#x930;&#x947; &#x92D;&#x940; &#x930;&#x942;&#x920;&#x947;
            br
            | &#x906;&#x938;&#x92E;&#x93E;&#x902; &#x92D;&#x940; &#x92E;&#x947;&#x930;&#x93E; &#x928;&#x93E; &#x930;&#x939;&#x93E;
            br
            | &#x939;&#x948;&#x930;&#x93E;&#x928; &#x939;&#x942;&#x901; &#x92E;&#x948;&#x902; &#x926;&#x93F;&#x932; &#x924;&#x947;&#x930;&#x947; &#x915;&#x94D;&#x92F;&#x942;&#x901;
            br
            | &#x92E;&#x947;&#x930;&#x93E; &#x92C;&#x938;&#x947;&#x930;&#x93E; &#x928;&#x93E; &#x930;&#x939;&#x93E;
            p
            | &#x91A;&#x932;&#x94B; &#x930;&#x92C; &#x926;&#x93F; &#x91C;&#x947; &#x92E;&#x902;&#x95B;&#x942;&#x930;&#x940;
            br
            | &#x92E;&#x947;&#x928;&#x942; &#x92D;&#x940; &#x915;&#x94B;&#x908; &#x917;&#x93F;&#x932;&#x93E; &#x928;&#x939;&#x940;&#x902;
            br
            | &#x930;&#x916;&#x93E; &#x938;&#x940; &#x92E;&#x948;&#x902; &#x92E;&#x928; &#x924;&#x93E;&#x902; &#x92E;&#x902;&#x917;&#x93F;&#x92F;&#x93E;
            br
            | &#x92A;&#x930; &#x915;&#x94D;&#x92F;&#x942;&#x901; &#x924;&#x942; &#x92E;&#x93F;&#x932;&#x93E; &#x928;&#x939;&#x940;&#x902;
            br
            | &#x928;&#x948;&#x907; &#x915;&#x93F;&#x938;&#x94D;&#x92E;&#x924; &#x925;&#x940; &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940; &#x925;&#x940;
            br
            | &#x92E;&#x948;&#x902; &#x939;&#x93E;&#x930;&#x93E; &#x91C;&#x940;&#x924; &#x939;&#x941;&#x908; &#x95B;&#x92E;&#x93E;&#x928;&#x947; &#x915;&#x940;
            p
            | &#x92E;&#x94B;&#x939;&#x92C;&#x94D;&#x92C;&#x924; &#x939;&#x94B; &#x917;&#x92F;&#x940; &#x925;&#x940; &#x926;&#x94B;&#x928;&#x94B;&#x902; &#x915;&#x94B;
            br
            | &#x90F;&#x915; &#x905;&#x930;&#x938;&#x93E; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            br
            | &#x92E;&#x947;&#x930;&#x93E; &#x92F;&#x947; &#x907;&#x936;&#x94D;&#x915; &#x926;&#x94B; &#x924;&#x930;&#x95E;&#x93E;
            br
            | &#x90F;&#x915; &#x924;&#x930;&#x95E;&#x93E; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            p
            | &#x92E;&#x94B;&#x939;&#x92C;&#x94D;&#x92C;&#x924; &#x939;&#x94B; &#x917;&#x92F;&#x940; &#x925;&#x940; &#x926;&#x94B;&#x928;&#x94B;&#x902; &#x915;&#x94B;
            br
            | &#x90F;&#x915; &#x905;&#x930;&#x938;&#x93E; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            br
            | &#x92E;&#x947;&#x930;&#x93E; &#x92F;&#x947; &#x907;&#x936;&#x94D;&#x915; &#x926;&#x94B; &#x924;&#x930;&#x95E;&#x93E;
            br
            | &#x90F;&#x915; &#x924;&#x930;&#x95E;&#x93E; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            p
            | &#x92E;&#x94B;&#x939;&#x92C;&#x94D;&#x92C;&#x924;&mldr;
            br
            | &#x92E;&#x94B;&#x939;&#x92C;&#x94D;&#x92C;&#x924; &#x939;&#x94B; &#x917;&#x92F;&#x940; &#x925;&#x940;





    #englishlyrics
        span#headinge Hangover Lyrics (English)
            | Akhiyon se dariya beh gaya haaye
            br
            | Khwab woh adhoora reh gaya
            br
            | Jag bhi paraya ho gaya haaye
            br
            | Juda tera saaya ho gaya
            br
            br
            | Teri duniya mujhe ab na gawara hai
            br
            | Par tu hasdi reh bas yehi sahara hai
            br
            br
            | Mohabbat ho gayi thi dono ko
            br
            | Ek arsa ho gaya
            br
            | Mera yeh ishq tha do tarfa
            br
            | Ab ek tarfa ho gaya
            br
            br
            | Mohabbat ho gayi thi dono ko
            br
            | Ek arsa ho gaya
            br
            | Mera yeh ishq tha do tarfa
            br
            | Ab ek tarfa ho gaya
            br
            br
            | Aa&mldr; naa&mldr;
            br
            br
            | Ho chand bhi rootha
            br
            | Taare bhi roothe
            br
            | Aasmaan bhi mera na raha
            br
            br
            | Hairaan hoon main
            br
            | Dil mein tere kyun
            br
            | Mera basera na raha
            br
            br
            | Chalo Rab di ae je manzoori
            br
            | Mainu vi koi gila nahi
            br
            | Lakhan si main mannatan mangiyan
            br
            | Par kyun tu mila nahi
            br
            br
            | Yehi kismat thi deewane ki
            br
            | Main haara, jeet huyi zamaane ki
            br
            br
            | Mohabbat ho gayi thi dono ko
            br
            | Ek arsa ho gaya
            br
            | Mera yeh ishq tha do tarfa
            br
            | Ab ek tarfa ho gaya
            br
            br
            | Mohabbat ho gayi thi dono ko
            br
            | Ek arsa ho gaya
            br
            | Mera yeh ishq tha do tarfa
            br
            | Ab ek tarfa ho gaya
            br
            br
            | Mohabbat&mldr;
            br
            | Mohabbat ho gayi thi&mldr;
