extends ../base.pug

block scripts
    script(src='/static/img/index.js')

block style
    style
      include ../../static/style.css 
      include ../../static/stylecontact.css
      include ../../static/styleabout.css 
      include ../../static/shreya.css 
      include ../../static/darshansongs/HavaBanke.css

block content
    
    #hindilyrics
        span Hava banke (English)
            p 
            | Main zameen tu aasmaan
            br
            | Main daag hoon tu chand sa
            br
            | Tu baarish hai main ret hoon
            br
            | Main dhun koi tu raag sa
            br
            br
            | Main zameen tu aasmaan
            br
            | Main daag hoon tu chand sa
            br
            | Tu baarish hai main ret hoon
            br
            | Main dhun koi tu raag sa
            br
            br
            | Mainu apna bana le meri heeriye
            br
            | Mainu apna bana le meri heeriye
            br
            | Main rehna ae tera banke
            br
            br
            | Boohey bariyan haaye boohey bariaan
            br
            | Boohey bariyan te enna le kanda tap ke
            br
            | Tu aaja vi hawa banke...
            br
            | Boohey bariyan haaye boohey barian
            br
            | Boohey bariyan haaye boohey barian
            br
            br
            | Chhu loon tujhe jaise koi
            br
            | Chand ko chhuna chaahe
            br
            | Chaahun tujhe jaise koi
            br
            | Baccha khilona chaahe
            br
            br
            | Chhu loon tujhe jaise koi
            br
            | Chand ko chhuna chaahe
            br
            | Chaahun tujhe jaise koi
            br
            | Baccha khilona chaahe
            br
            br
            | Fiqar ki raat mein
            br
            | Tu sukoon ki neend hai
            br
            | Patjhad ke mausam mein tu
            br
            | Baarish ki pehli boond hai
            br
            br
            | Nirmaan ajj Eid tere vaaste
            br
            | Nirmaan ajj Eid tere vaaste
            br
            | Aaya hai adaa karke
            br
            | Boohey bariyan haaye boohey bariaan
            br
            br
            | Boohey bariyan te enna le kanda tap ke
            br
            | Avaangi hawa banke...
            br
            | Boohey bariyan haaye boohey bariyan
            br
            | Boohey bariyan haaye boohey bariyan




    #englishlyrics
        span#headinge Hava banke (Hindi)
            p
            | &#x92E;&#x948;&#x902; &#x91C;&#x93C;&#x92E;&#x940;&#x902; &#x924;&#x942; &#x906;&#x938;&#x94D;&#x92E;&#x93E;&#x902;
            br
            | &#x92E;&#x948;&#x902; &#x926;&#x93E;&#x917;&#x93C; &#x939;&#x942;&#x901; &#x924;&#x942; &#x91A;&#x93E;&#x901;&#x926; &#x938;&#x93E;
            br
            | &#x924;&#x942; &#x92C;&#x93E;&#x930;&#x93F;&#x936; &#x939;&#x948; &#x92E;&#x948;&#x902; &#x930;&#x947;&#x924; &#x939;&#x942;&#x901;
            br
            | &#x92E;&#x948;&#x902; &#x927;&#x941;&#x928; &#x915;&#x94B;&#x908; &#x924;&#x942; &#x930;&#x93E;&#x917; &#x938;&#x93E; 
            p
            p
            | &#x92E;&#x948;&#x902; &#x91C;&#x93C;&#x92E;&#x940;&#x902; &#x924;&#x942; &#x906;&#x938;&#x94D;&#x92E;&#x93E;&#x902;
            br
            | &#x92E;&#x948;&#x902; &#x926;&#x93E;&#x917;&#x93C; &#x939;&#x942;&#x901; &#x924;&#x942; &#x91A;&#x93E;&#x901;&#x926; &#x938;&#x93E;
            br
            | &#x924;&#x942; &#x92C;&#x93E;&#x930;&#x93F;&#x936; &#x939;&#x948; &#x92E;&#x948;&#x902; &#x930;&#x947;&#x924; &#x939;&#x942;&#x901;
            br
            | &#x92E;&#x948;&#x902; &#x927;&#x941;&#x928; &#x915;&#x94B;&#x908; &#x924;&#x942; &#x930;&#x93E;&#x917; &#x938;&#x93E;
            p
            | &#x92E;&#x948;&#x928;&#x941; &#x905;&#x92A;&#x928;&#x93E; &#x92C;&#x928;&#x93E; &#x932;&#x947; &#x92E;&#x947;&#x930;&#x940; &#x939;&#x940;&#x930;&#x93F;&#x92F;&#x947;
            br
            | &#x92E;&#x948;&#x928;&#x941; &#x905;&#x92A;&#x928;&#x93E; &#x92C;&#x928;&#x93E; &#x932;&#x947; &#x92E;&#x947;&#x930;&#x940; &#x939;&#x940;&#x930;&#x93F;&#x92F;&#x947;
            br
            | &#x92E;&#x948;&#x902; &#x930;&#x939;&#x928;&#x93E; &#x910; &#x924;&#x947;&#x930;&#x93E; &#x92C;&#x928;&#x915;&#x947;
            p
            | &#x92C;&#x942;&#x939;&#x947; &#x92C;&#x93E;&#x930;&#x93F;&#x92F;&#x93E;&#x901; &#x939;&#x93E;&#x90F; &#x92C;&#x942;&#x939;&#x947; &#x92C;&#x93E;&#x930;&#x93F;&#x92F;&#x93E;&#x901;
            br
            | &#x92C;&#x942;&#x939;&#x947; &#x92C;&#x93E;&#x930;&#x93F;&#x92F;&#x93E;&#x901; &#x924;&#x947; &#x90F;&#x928;&#x94D;&#x928;&#x93E; &#x932;&#x947; &#x915;&#x902;&#x926;&#x93E; &#x91F;&#x92A; &#x915;&#x947;
            br
            | &#x924;&#x942; &#x906;&#x91C;&#x93E; &#x935;&#x940; &#x939;&#x935;&#x93E; &#x92C;&#x928;&#x915;&#x947;
            br
            | &#x92C;&#x942;&#x939;&#x947; &#x92C;&#x93E;&#x930;&#x93F;&#x92F;&#x93E;&#x901; &#x939;&#x93E;&#x90F; &#x92C;&#x942;&#x939;&#x947; &#x92C;&#x93E;&#x930;&#x93F;&#x92F;&#x93E;&#x901;
            br
            | &#x92C;&#x942;&#x939;&#x947; &#x92C;&#x93E;&#x930;&#x93F;&#x92F;&#x93E;&#x901; &#x939;&#x93E;&#x90F; &#x92C;&#x942;&#x939;&#x947; &#x92C;&#x93E;&#x930;&#x93F;&#x92F;&#x93E;&#x901;
            p
            | &#x91B;&#x942; &#x932;&#x942;&#x901; &#x924;&#x941;&#x91D;&#x947; &#x91C;&#x948;&#x938;&#x947; &#x915;&#x94B;&#x908;
            br
            | &#x91A;&#x93E;&#x901;&#x926; &#x915;&#x94B; &#x91B;&#x942;&#x928;&#x93E; &#x91A;&#x93E;&#x939;&#x947;
            br
            | &#x91A;&#x93E;&#x939;&#x942;&#x901; &#x924;&#x941;&#x91D;&#x947; &#x91C;&#x948;&#x938;&#x947; &#x915;&#x94B;&#x908;
            br
            | &#x92C;&#x91A;&#x94D;&#x91A;&#x93E; &#x916;&#x93F;&#x932;&#x94B;&#x928;&#x93E; &#x91A;&#x93E;&#x939;&#x947;
            p
            | &#x91B;&#x942; &#x932;&#x942;&#x901; &#x924;&#x941;&#x91D;&#x947; &#x91C;&#x948;&#x938;&#x947; &#x915;&#x94B;&#x908;
            br
            | &#x91A;&#x93E;&#x901;&#x926; &#x915;&#x94B; &#x91B;&#x942;&#x928;&#x93E; &#x91A;&#x93E;&#x939;&#x947;
            br
            | &#x91A;&#x93E;&#x939;&#x942;&#x901; &#x924;&#x941;&#x91D;&#x947; &#x91C;&#x948;&#x938;&#x947; &#x915;&#x94B;&#x908;
            br
            | &#x92C;&#x91A;&#x94D;&#x91A;&#x93E; &#x916;&#x93F;&#x932;&#x94B;&#x928;&#x93E; &#x91A;&#x93E;&#x939;&#x947;
            p
            | &#x92B;&#x93C;&#x93F;&#x915;&#x94D;&#x930; &#x915;&#x940; &#x930;&#x93E;&#x924; &#x92E;&#x947;&#x902;
            br
            | &#x924;&#x942; &#x938;&#x941;&#x915;&#x942;&#x928; &#x915;&#x940; &#x928;&#x940;&#x902;&#x926; &#x939;&#x948;
            br
            | &#x92A;&#x924;&#x91D;&#x921;&#x93C; &#x915;&#x947; &#x92E;&#x94C;&#x938;&#x92E; &#x92E;&#x947;&#x902; &#x924;&#x942;
            br
            | &#x92C;&#x93E;&#x930;&#x93F;&#x936; &#x915;&#x940; &#x92A;&#x939;&#x932;&#x940; &#x92C;&#x942;&#x901;&#x926; &#x939;&#x948;
            p
            | &#x928;&#x93F;&#x930;&#x94D;&#x92E;&#x93E;&#x928; &#x905;&#x91C;&#x94D;&#x91C; &#x908;&#x926; &#x924;&#x947;&#x930;&#x947; &#x935;&#x93E;&#x938;&#x94D;&#x924;&#x947;
            br
            | &#x928;&#x93F;&#x930;&#x94D;&#x92E;&#x93E;&#x928; &#x905;&#x91C;&#x94D;&#x91C; &#x908;&#x926; &#x924;&#x947;&#x930;&#x947; &#x935;&#x93E;&#x938;&#x94D;&#x924;&#x947;
            br
            | &#x906;&#x92F;&#x93E; &#x939;&#x948; &#x905;&#x926;&#x93E; &#x915;&#x930;&#x915;&#x947;
            br
            | &#x92C;&#x942;&#x939;&#x947; &#x92C;&#x93E;&#x930;&#x93F;&#x92F;&#x93E;&#x901; &#x939;&#x93E;&#x90F; &#x92C;&#x942;&#x939;&#x947; &#x92C;&#x93E;&#x930;&#x93F;&#x92F;&#x93E;&#x901;
            p
            | &#x92C;&#x942;&#x939;&#x947; &#x92C;&#x93E;&#x930;&#x93F;&#x92F;&#x93E;&#x901; &#x924;&#x947; &#x90F;&#x928;&#x94D;&#x928;&#x93E; &#x932;&#x947; &#x915;&#x902;&#x926;&#x93E; &#x91F;&#x92A; &#x915;&#x947;
            br
            | &#x905;&#x935;&#x93E;&#x902;&#x917;&#x940; &#x939;&#x935;&#x93E; &#x92C;&#x928;&#x915;&#x947;
            br
            | &#x92C;&#x942;&#x939;&#x947; &#x92C;&#x93E;&#x930;&#x93F;&#x92F;&#x93E;&#x901; &#x939;&#x93E;&#x90F; &#x92C;&#x942;&#x939;&#x947; &#x92C;&#x93E;&#x930;&#x93F;&#x92F;&#x93E;&#x901;
            br
            | &#x92C;&#x942;&#x939;&#x947; &#x92C;&#x93E;&#x930;&#x93F;&#x92F;&#x93E;&#x901; &#x939;&#x93E;&#x90F; &#x92C;&#x942;&#x939;&#x947; &#x92C;&#x93E;&#x930;&#x93F;&#x92F;&#x93E;&#x901;
