extends ../base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../../static/style.css 
      include ../../static/stylecontact.css
      include ../../static/styleabout.css 
      include ../../static/shreya.css 
      include ../../static/darshansongs/TereNal.css

block content
    nav.vertical-menu1
        ul
          li #[a(href="/hangover") Hangover]
          li #[a(href="/mastani") Divani Mastani]
          li #[a(href="/tumakolekar") Tumako lekar]
          li #[a(href="/judaiyaan") judaiyaan]
          li #[a(href="/NaWhoMe") Na Who Me]
          li #[a(href="/BakiHai") Baki Hai]
          li #[a(href="/LagiNachute") Lagi Na Chute]
          li #[a(href="/bahara") Bahara]
          li #[a(href="/FhirSeTitle") Fhir Se Title Song]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
    #hindilyrics
        span Tere Nal (English)
            p
            | &#x938;&#x93E;&#x902;&#x938; &#x932;&#x947;&#x924;&#x940; &#x939;&#x942;&#x902; &#x924;&#x94B; &#x924;&#x947;&#x930;&#x93E; &#x939;&#x940;
            br
            | &#x90F;&#x939;&#x938;&#x93E;&#x938; &#x939;&#x94B;&#x924;&#x93E; &#x939;&#x948; &#x90F;&#x939;&#x938;&#x93E;&#x938; &#x939;&#x94B;&#x924;&#x93E; &#x939;&#x948;
            p
            p
            | &#x926;&#x942;&#x930; &#x939;&#x94B;&#x915;&#x947; &#x92D;&#x940; &#x939;&#x930; &#x932;&#x92E;&#x94D;&#x939;&#x93E;
            br
            | &#x924;&#x942; &#x92E;&#x947;&#x930;&#x947; &#x92A;&#x93E;&#x938; &#x939;&#x94B;&#x924;&#x93E; &#x939;&#x948;
            br
            | &#x92E;&#x947;&#x930;&#x947; &#x92A;&#x93E;&#x938; &#x939;&#x94B;&#x924;&#x93E; &#x939;&#x948;
            p
            | &#x924;&#x947;&#x930;&#x947; &#x92C;&#x93F;&#x928; &#x90F;&       #x915; &#x926;&#x93F;&#x928; &#x928;&#x93E; &#x95A;&#x941;&#x95B;&#x930;&#x947;
            br
            | &#x915;&#x948;&#x938;&#x947; &#x92C;&#x940;&#x924;&#x947;&#x902;&#x917;&#x947; &#x928;&#x93E; &#x91C;&#x93E;&#x928;&#x947; &#x92F;&#x947; &#x938;&#x93E;&#x932;
            br
            | &#x939;&#x948; &#x926;&#x93F;&#x932; &#x915;&#x93E; &#x92F;&#x947; &#x939;&#x93E;&#x932;
            p
            | &#x924;&#x947;&#x930;&#x947; &#x928;&#x93E;&#x932; &#x91C;&#x940;&#x928;&#x93E; &#x92E;&#x948;&#x902;&#x928;&#x942; &#x924;&#x947;&#x930;&#x947; &#x928;&#x93E;&#x932;
            br
            | &#x92E;&#x930;&#x928;&#x93E; &#x92E;&#x948;&#x902;&#x928;&#x942; &#x924;&#x947;&#x930;&#x947; &#x928;&#x93E;&#x932; &#x924;&#x947;&#x930;&#x947; &#x928;&#x93E;&#x932;
            br
            | &#x924;&#x947;&#x930;&#x947; &#x928;&#x93E;&#x932; &#x91C;&#x940;&#x928;&#x93E; &#x92E;&#x948;&#x902;&#x928;&#x942; &#x924;&#x947;&#x930;&#x947; &#x928;&#x93E;&#x932;
            br
            | &#x92E;&#x930;&#x928;&#x93E; &#x92E;&#x948;&#x902;&#x928;&#x942; &#x924;&#x947;&#x930;&#x947; &#x928;&#x93E;&#x932; &#x924;&#x947;&#x930;&#x947; &#x928;&#x93E;&#x932;
            p
            | &#x906;&#x92F;&#x940; &#x939;&#x942;&#x901; &#x91C;&#x93F;&#x938;&#x915;&#x947; &#x932;&#x93F;&#x90F; &#x92E;&#x948;&#x902;
            br
            | &#x926;&#x941;&#x928;&#x93F;&#x92F;&#x93E; &#x938;&#x93E;&#x930;&#x940; &#x91B;&#x94B;&#x95C; &#x915;&#x947;
            br
            | &#x90F;&#x915; &#x92A;&#x94D;&#x92F;&#x93E;&#x930; &#x939;&#x940; &#x924;&#x94B; &#x939;&#x948;
            p
            | &#x92C;&#x93E;&#x926;&#x932;&#x94B;&#x902; &#x915;&#x94B; &#x906;&#x938;&#x92E;&#x93E;&#x902; &#x938;&#x947;
            br
            | &#x91C;&#x94B;&#x95C;&#x924;&#x940; &#x91C;&#x94B; &#x921;&#x94B;&#x930; &#x939;&#x948;
            br
            | &#x90F;&#x915; &#x92A;&#x94D;&#x92F;&#x93E;&#x930; &#x939;&#x940; &#x924;&#x94B; &#x939;&#x948;
            p
            | &#x927;&#x942;&#x92A; &#x91B;&#x93E;&#x935; &#x92C;&#x93E;&#x930;&#x93F;&#x936;&#x94B;&#x902; &#x92E;&#x947;&#x902;
            br
            | &#x930;&#x92C; &#x938;&#x947; &#x915;&#x940; &#x91C;&#x94B; &#x938;&#x93F;&#x92B;&#x93E;&#x930;&#x93F;&#x936;&#x94B;&#x902; &#x92E;&#x947;&#x902;
            br
            | &#x916;&#x94D;&#x92F;&#x93E;&#x932; &#x939;&#x948; &#x924;&#x947;&#x930;&#x93E; &#x939;&#x940; &#x916;&#x94D;&#x92F;&#x93E;&#x932;
            p
            | &#x924;&#x947;&#x930;&#x947; &#x928;&#x93E;&#x932; &#x91C;&#x940;&#x928;&#x93E; &#x92E;&#x948;&#x902;&#x928;&#x942; &#x924;&#x947;&#x930;&#x947; &#x928;&#x93E;&#x932;
            br
            | &#x92E;&#x930;&#x928;&#x93E; &#x92E;&#x948;&#x902;&#x928;&#x942; &#x924;&#x947;&#x930;&#x947; &#x928;&#x93E;&#x932; &#x924;&#x947;&#x930;&#x947; &#x928;&#x93E;&#x932;
            br
            | &#x924;&#x947;&#x930;&#x947; &#x928;&#x93E;&#x932; &#x91C;&#x940;&#x928;&#x93E; &#x92E;&#x948;&#x902;&#x928;&#x942; &#x924;&#x947;&#x930;&#x947; &#x928;&#x93E;&#x932;
            br
            | &#x92E;&#x930;&#x928;&#x93E; &#x92E;&#x948;&#x902;&#x928;&#x942; &#x924;&#x947;&#x930;&#x947; &#x928;&#x93E;&#x932; &#x924;&#x947;&#x930;&#x947; &#x928;&#x93E;&#x932;
  




    #englishlyrics
        span#headinge Hava banke (Hindi)
            p
            | Saans leti hoon to
            br
            | Tera hi ehsaas hota hai
            br
            | Ehsaas hota hai
            br
            | Door hoke bhi har lamha
            br
            | Tu mere paas hota hai
            br
            | Mere paas hota hai
            p
            | Tere bin ek din na ghuzre
            br
            | Kaise baetenge na jaane yeh saal
            br
            | Hai dil ka yeh haal
            p
            | Tere naal jeena mainu tere naal
            br
            | Marna mainu tere naal, tere naal
            br
            | Tere naal jeena mainu tere naal
            br
            | Marna mainu tere naal, tere naal
            p
            | Aayi hoon jiske liye main
            br
            | Duniya saari chhod ke
            br
            | Ik pyar hi to hai
            br
            | Baadalon ko aasmaan se
            br
            | Jodti jo dor hai
            br
            | Ik pyar hi to hai
            p
            | Dhoop chhaon baarishon mein
            br
            | Rab se ki jo sifarishon main khayaal
            br
            | Hai tera hi khayaal
            p
            | Tere naal jeena mainu tere naal
            br
            | Marna mainu tere naal, tere naal
            br
            | Tere naal jeena mainu tere naal
            br
            | Marna mainu tere naal, tere naal
