extends ../base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../../static/style.css 
      include ../../static/stylecontact.css
      include ../../static/styleabout.css 
      include ../../static/shreya.css 
      include ../../static/shreyasongs/bahara.css

block content
    nav.vertical-menu1
        ul
          li #[a(href="/hangover") Hangover]
          li #[a(href="/mastani") Divani Mastani]
          li #[a(href="/tumakolekar") Tumako lekar]
          li #[a(href="/judaiyaan") judaiyaan]
          li #[a(href="/NaWhoMe") Na Who Me]
          li #[a(href="/BakiHai") Baki Hai]
          li #[a(href="/LagiNachute") Lagi Na Chute]
          li #[a(href="/bahara") Bahara]
          li #[a(href="/FhirSeTitle") Fhir Se Title Song]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]

    #hindilyrics
        span Bahara (Hindi) 
            p
            | (&#x91C;&#x93E;&#x928;&#x947; &#x915;&#x92C; &#x939;&#x94B;&#x920;&#x94B;&#x902; &#x92A;&#x947;
            br
            | &#x926;&#x93F;&#x932; &#x928;&#x947; &#x930;&#x916; &#x926;&#x940; &#x926;&#x93F;&#x932; &#x915;&#x940; &#x92C;&#x93E;&#x924;&#x947;&#x902;
            br
            | &#x938;&#x92E;&#x91D;&#x93E; &#x928;&#x939;&#x940;&#x902; &#x92F;&#x947; &#x926;&#x93F;&#x932;
            br
            | &#x907;&#x938;&#x915;&#x94B; &#x939;&#x92E; &#x924;&#x94B; &#x930;&#x939;&#x947; &#x938;&#x92E;&#x91D;&#x93E;&#x924;&#x947;)x &#x968;
            p
            | &#x92E;&#x948;&#x902;&#x928;&#x947; &#x926;&#x947;&#x916;&#x93E; &#x924;&#x941;&#x91D;&#x947; &#x92D;&#x941;&#x932;&#x93E; &#x915;&#x947;
            br
            | &#x939;&#x930; &#x90F;&#x915; &#x924;&#x930;&#x958;&#x940;&#x92C; &#x932;&#x917;&#x93E; &#x915;&#x947;
            br
            | &#x939;&#x930; &#x928;&#x941;&#x938;&#x94D;&#x916;&#x947; &#x915;&#x94B; &#x906;&#x95B;&#x92E;&#x93E; &#x915;&#x947;
            br
            | &#x92A;&#x930; &#x926;&#x93F;&#x932; &#x938;&#x947; &#x915;&#x92D;&#x940; &#x928;&#x93E; &#x909;&#x924;&#x930;&#x947;
            p
            | (&#x939;&#x948;&#x902;&#x917;&#x913;&#x935;&#x930; &#x924;&#x947;&#x930;&#x940; &#x92F;&#x93E;&#x926;&#x94B;&#x902; &#x915;&#x93E;
            br
            | &#x939;&#x948;&#x902;&#x917;&#x913;&#x935;&#x930; &#x924;&#x947;&#x930;&#x940; &#x92C;&#x93E;&#x924;&#x94B;&#x902; &#x915;&#x93E;)x &#x968;
            p
            | (&#x91C;&#x93E;&#x928;&#x947; &#x915;&#x92C; &#x939;&#x94B;&#x920;&#x94B;&#x902; &#x92A;&#x947;
            br
            | &#x926;&#x93F;&#x932; &#x928;&#x947; &#x930;&#x916; &#x926;&#x940; &#x926;&#x93F;&#x932; &#x915;&#x940; &#x92C;&#x93E;&#x924;&#x947;&#x902;
            br
            | &#x938;&#x92E;&#x91D;&#x93E; &#x928;&#x939;&#x940;&#x902; &#x92F;&#x947; &#x926;&#x93F;&#x932;
            br
            | &#x907;&#x938;&#x915;&#x94B; &#x939;&#x92E; &#x924;&#x94B; &#x930;&#x939;&#x947; &#x938;&#x92E;&#x91D;&#x93E;&#x924;&#x947;)x &#x968;
            p
            | &#x92E;&#x948;&#x902;&#x928;&#x947; &#x926;&#x947;&#x916;&#x93E; &#x924;&#x941;&#x91D;&#x947; &#x92D;&#x941;&#x932;&#x93E; &#x915;&#x947;
            br
            | &#x939;&#x930; &#x90F;&#x915; &#x924;&#x930;&#x958;&#x940;&#x92C; &#x932;&#x917;&#x93E; &#x915;&#x947;
            br
            | &#x939;&#x930; &#x928;&#x941;&#x938;&#x94D;&#x916;&#x947; &#x915;&#x94B; &#x906;&#x95B;&#x92E;&#x93E; &#x915;&#x947;
            br
            | &#x92A;&#x930; &#x926;&#x93F;&#x932; &#x938;&#x947; &#x915;&#x92D;&#x940; &#x928;&#x93E; &#x909;&#x924;&#x930;&#x947;&mldr;
            p
            | (&#x939;&#x948;&#x902;&#x917;&#x913;&#x935;&#x930; &#x924;&#x947;&#x930;&#x940; &#x92F;&#x93E;&#x926;&#x94B;&#x902; &#x915;&#x93E;
            br
            | &#x939;&#x948;&#x902;&#x917;&#x913;&#x935;&#x930; &#x924;&#x947;&#x930;&#x940; &#x92C;&#x93E;&#x924;&#x94B;&#x902; &#x915;&#x93E;)x &#x968;
            p
            | (&#x91C;&#x93E;&#x928;&#x947; &#x915;&#x92C; &#x92E;&#x947;&#x930;&#x940; &#x928;&#x940;&#x902;&#x926; &#x909;&#x95C;&#x940;
            br
            | &#x938;&#x94B;&#x92F;&#x940; &#x938;&#x94B;&#x92F;&#x940; &#x930;&#x93E;&#x924;&#x94B;&#x902; &#x92E;&#x947;&#x902;
            br
            | &#x91C;&#x93E;&#x928;&#x947; &#x915;&#x92C; &#x92E;&#x947;&#x930;&#x93E; &#x939;&#x93E;&#x925; &#x917;&#x92F;&#x93E;
            br
            | &#x938;&#x94B;&#x928;&#x93F;&#x92F;&#x93E; &#x924;&#x947;&#x930;&#x947; &#x939;&#x93E;&#x925;&#x94B;&#x902; &#x92E;&#x947;&#x902;) x &#x968;
            p
            | &#x91A;&#x932; &#x92C;&#x95D;&#x924;&#x947; &#x924;&#x947;&#x930;&#x940; &#x913;&#x930;
            br
            | &#x92E;&#x948;&#x902; &#x91C;&#x92C; &#x92D;&#x940; &#x915;&#x926;&#x92E; &#x909;&#x920;&#x924;&#x940; &#x939;&#x942;&#x901;
            br
            | &#x91C;&#x93E;&#x90A;&#x902; &#x924;&#x941;&#x91D; &#x938;&#x947; &#x926;&#x942;&#x930; &#x926;&#x942;&#x930;
            br
            | &#x924;&#x94B; &#x92A;&#x93E;&#x938; &#x924;&#x947;&#x930;&#x947; &#x906; &#x91C;&#x93E;&#x924;&#x940; &#x939;&#x942;&#x901;
            p
            | &#x92E;&#x948;&#x902;&#x928;&#x947; &#x926;&#x947;&#x916;&#x93E; &#x924;&#x941;&#x91D;&#x947; &#x92D;&#x941;&#x932;&#x93E; &#x915;&#x947;
            br
            | &#x939;&#x930; &#x90F;&#x915; &#x924;&#x930;&#x958;&#x940;&#x92C; &#x932;&#x917;&#x93E; &#x915;&#x947;
            br
            | &#x939;&#x930; &#x928;&#x941;&#x938;&#x94D;&#x916;&#x947; &#x915;&#x94B; &#x906;&#x95B;&#x92E;&#x93E; &#x915;&#x947;
            br
            | &#x92A;&#x930; &#x926;&#x93F;&#x932; &#x938;&#x947; &#x915;&#x92D;&#x940; &#x928;&#x93E; &#x909;&#x924;&#x930;&#x947;&mldr;
            p
            | (&#x939;&#x948;&#x902;&#x917;&#x913;&#x935;&#x930; &#x924;&#x947;&#x930;&#x940; &#x92F;&#x93E;&#x926;&#x94B;&#x902; &#x915;&#x93E;
            br
            | &#x939;&#x948;&#x902;&#x917;&#x913;&#x935;&#x930; &#x924;&#x947;&#x930;&#x940; &#x92C;&#x93E;&#x924;&#x94B;&#x902; &#x915;&#x93E;)x &#x968;
            p
            | (&#x90F;&#x915; &#x91C;&#x917;&#x939; &#x92A;&#x947; &#x915;&#x92D;&#x940; &#x930;&#x941;&#x915;&#x93E; &#x928;&#x939;&#x940;&#x902;
            br
            | &#x90F;&#x915; &#x91C;&#x917;&#x939; &#x92A;&#x947; &#x915;&#x92D;&#x940; &#x91F;&#x93F;&#x915;&#x93E; &#x928;&#x939;&#x940;&#x902;
            br
            | &#x91C;&#x948;&#x938;&#x93E; &#x92E;&#x948;&#x902;&#x928;&#x947; &#x91A;&#x93E;&#x939;&#x93E; &#x92E;&#x941;&#x91D;&#x947;
            br
            | &#x935;&#x948;&#x938;&#x93E; &#x915;&#x94B;&#x908; &#x926;&#x93F;&#x916;&#x93E; &#x928;&#x939;&#x940;&#x902;)x &#x968;
            p
            | &#x92A;&#x930; &#x91C;&#x92C;&#x938;&#x947; &#x926;&#x947;&#x916;&#x93E; &#x924;&#x941;&#x91D;&#x947;
            br
            | &#x91C;&#x94B; &#x939;&#x941;&#x906; &#x928;&#x939;&#x940;&#x902; &#x935;&#x94B; &#x939;&#x94B;&#x928;&#x947; &#x932;&#x917;&#x93E;
            br
            | &#x926;&#x93F;&#x932; &#x92E;&#x947;&#x930;&#x93E; &#x92E;&#x941;&#x91D;&#x947; &#x932;&#x917;&#x93E; &#x915;&#x947;
            br
            | &#x959;&#x941;&#x926; &#x938;&#x940;&#x928;&#x947; &#x92E;&#x947;&#x902; &#x938;&#x94B;&#x928;&#x947; &#x932;&#x917;&#x93E;
            br
            | &#x92E;&#x947;&#x930;&#x940; &#x92B;&#x93F;&#x924;&#x930;&#x924; &#x92C;&#x926;&#x932; &#x930;&#x939;&#x940; &#x939;&#x948;
            br
            | &#x91C;&#x948;&#x938;&#x947; &#x92C;&#x930;&#x958;&#x924; &#x916;&#x94B;&#x92F;&#x940; &#x939;&#x941;&#x92F;&#x940; &#x939;&#x948;
            br
            | &#x92C;&#x938; &#x905;&#x92C; &#x924;&#x94B; &#x926;&#x941;&#x906; &#x92F;&#x939;&#x940; &#x939;&#x948;
            br
            | &#x915;&#x940; &#x926;&#x93F;&#x932; &#x938;&#x947; &#x915;&#x92D;&#x940; &#x928;&#x93E; &#x909;&#x924;&#x930;&#x947;..
            p
            | (&#x939;&#x948;&#x902;&#x917;&#x913;&#x935;&#x930; &#x924;&#x947;&#x930;&#x940; &#x92F;&#x93E;&#x926;&#x94B;&#x902; &#x915;&#x93E;
            br
            | &#x939;&#x948;&#x902;&#x917;&#x913;&#x935;&#x930; &#x924;&#x947;&#x930;&#x940; &#x92C;&#x93E;&#x924;&#x94B;&#x902; &#x915;&#x93E;)x &#x968;
   




    #englishlyrics
        span#headinge Bahara (English)
            p
            | O tora Saajan ayo tore des
            br
            | Badli badla badla saavan
            br
            | Badla jag ne bhes re....
            br
            | Tora Saajan ayo tore des re..e..e..e
            p
            | Soyi soyi palkon pe Chalke
            br
            | Mere sapno ki khidki pe aa Gaya
            br
            | Aate jate phir mere Dil ke inn hathon mein wo khat pakda Gaya
            br
            | Pyar ka...
            br
            | Lafzon mein rang hai pyaar ka
            br
            | (Bahara bahara hua Dil pehli Baar ve
            br
            | Bahara bahara ke chain tho hua pharar ve) &times;2
            p
            | O.. tora Saajan ayo tore des
            br
            | Badli badla badla saavan
            br
            | Badla jag ne bhes re...
            br
            | Tora sajan ayo tore des re..e..e
            p
            | Wo.. kabhi dikhe Zameen pe kabhi wo Chand pe..
            br
            | Ye ..e..e.. nazar kahe use yahan
            br
            | Main rakhloon bandhke
            br
            | Ik sans main dhadkanon ke paas main
            br
            | Haan paas main ghar banaye hay bhoole ye jahan
            br
            | (Bahara bahara hua Dil pehli Baar ve
            br
            | Bahara bahara ke chain tho hua pharar ve)&times;2
            p
            | Beech main tori o re savaria
            br
            | Payal jaise khanke tijhuri
            br
            | Cham cham nache dil pe badaria
            br
            | Ho..o..o..o..o.
            p
            | Savaria tu barse Ghana
            br
            | Barse Ghana
            br
            | Barse Ghana
            br
            | Aa...a...a...a...a..
            br
            | Nanadhinanadinanan nananana...
            p
            | Wo..ye badliyan jo ched de toh chal ke barishe
            br
            | Wo..de aahate karib se
            br
            | Toh bole khwahishen ke aaj kal zindagi har ek pal
            br
            | Har ek pal se chahe Haye jiska Dil hua
            br
            | (Bahara bahara hua Dil pehli Baar ve
            br
            | Bahara bahara ke chain tho hua pharar ve) &times;2
            p
            | Soyi soyi palkon pe Chalke
            br
            | Mere sapno ki khidki pe aa Gaya
            br
            | Aate jate phir mere Dil ke
            br
            | Inn hathon mein wo khat pakda Gaya pyaar Ka
            br
            | Lafzon mein rang hai pyaar ka
            br
            | (Bahara bahara hua Dil pehli Baar ve
            br
            | Bahara bahara ke chain tho hua pharar ve)&times;2
