extends ../base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../../static/style.css 
      include ../../static/stylecontact.css
      include ../../static/styleabout.css 
      include ../../static/shreya.css 
      include ../../static/shreyasongs/hangover.css

block content
    nav.vertical-menu1
        ul
          li #[a(href="/hangover") Hangover]
          li #[a(href="/mastani") Divani Mastani]
          li #[a(href="/tumakolekar") Tumako lekar]
          li #[a(href="/judaiyaan") judaiyaan]
          li #[a(href="/NaWhoMe") Na Who Me]
          li #[a(href="/BakiHai") Baki Hai]
          li #[a(href="/LagiNachute") Lagi Na Chute]
          li #[a(href="/bahara") Bahara]
          li #[a(href="/FhirSeTitle") Fhir Se Title Song]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]


    #hindilyrics
        span Baki Hai (Hindi) 
            p
            | &#x938;&#x94B;&#x928;&#x947; &#x938;&#x947; &#x92A;&#x939;&#x932;&#x947; &#x926;&#x947;&#x916; &#x915;&#x947; &#x938;&#x94B;&#x928;&#x93E;
            br
            | &#x928;&#x940;&#x902;&#x926; &#x92E;&#x947;&#x902; &#x92A;&#x942;&#x91B;&#x942;&#x902; &#x915;&#x940; &#x924;&#x941;&#x92E; &#x939;&#x94B; &#x928;&#x93E;
            br
            | &#x938;&#x941;&#x92C;&#x939; &#x938;&#x941;&#x92C;&#x939; &#x91C;&#x92C; &#x906;&#x901;&#x916;&#x947;&#x902; &#x92E;&#x948;&#x902; &#x916;&#x94B;&#x932;&#x942;&#x902;
            br
            | &#x906;&#x915;&#x947; &#x938;&#x93F;&#x930;&#x939;&#x93E;&#x928;&#x947; &#x924;&#x941;&#x92E; &#x92C;&#x948;&#x920;&#x94B; &#x928;&#x93E;&#x92E;&#x947;&#x930;&#x947; &#x932;&#x93F;&#x90F; &#x924;&#x947;&#x930;&#x93E; &#x907;&#x924;&#x928;&#x93E;
            br
            | &#x915;&#x930;&#x928;&#x93E; &#x939;&#x940; &#x915;&#x93E;&#x92B;&#x940; &#x939;&#x948;
            br
            | &#x92E;&#x941;&#x91D;&#x915;&#x94B; &#x924;&#x941;&#x92E;&#x938;&#x947; &#x907;&#x936;&#x94D;&#x958; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            br
            | &#x924;&#x941;&#x92E;&#x915;&#x94B; &#x939;&#x94B;&#x928;&#x93E; &#x92C;&#x93E;&#x915;&#x940; &#x939;&#x948;
            p
            p
            | &#x92E;&#x941;&#x91D;&#x915;&#x94B; &#x924;&#x941;&#x92E;&#x938;&#x947; &#x907;&#x936;&#x94D;&#x958; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            br
            | &#x924;&#x941;&#x92E;&#x915;&#x94B; &#x939;&#x94B;&#x928;&#x93E; &#x92C;&#x93E;&#x915;&#x940; &#x939;&#x948;
            br
            | &#x92E;&#x941;&#x91D;&#x915;&#x94B; &#x924;&#x941;&#x92E;&#x938;&#x947; &#x907;&#x936;&#x94D;&#x958; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            br
            | &#x924;&#x941;&#x92E;&#x915;&#x94B; &#x939;&#x94B;&#x928;&#x93E; &#x92C;&#x93E;&#x915;&#x940; &#x939;&#x948;
            p
            | &#x906;&#x901;&#x916; &#x92E;&#x947;&#x902; &#x924;&#x947;&#x930;&#x940; &#x918;&#x930; &#x939;&#x94B; &#x92E;&#x947;&#x930;&#x93E;
            br
            | &#x917;&#x94B;&#x926; &#x92E;&#x947;&#x902; &#x924;&#x947;&#x930;&#x940; &#x938;&#x930; &#x939;&#x94B; &#x92E;&#x947;&#x930;&#x93E;
            br
            | &#x92A;&#x942;&#x91B;&#x924;&#x947; &#x939;&#x94B; &#x91C;&#x92C; &#x915;&#x948;&#x938;&#x93E; &#x939;&#x942;&#x901; &#x92E;&#x948;&#x902;
            br
            | &#x939;&#x93E;&#x932; &#x924;&#x92D;&#x940; &#x92C;&#x947;&#x939;&#x924;&#x930; &#x939;&#x94B; &#x92E;&#x947;&#x930;&#x93E;
            p
            | &#x92E;&#x947;&#x930;&#x940; &#x930;&#x91C;&#x93E; &#x924;&#x942; &#x91C;&#x93E;&#x928; &#x917;&#x92F;&#x93E;
            br
            | &#x905;&#x92C; &#x924;&#x942; &#x92D;&#x940; &#x915;&#x94D;&#x92F;&#x93E; &#x930;&#x93E;&#x95B;&#x940; &#x939;&#x948;
            p
            | &#x92E;&#x941;&#x91D;&#x915;&#x94B; &#x924;&#x941;&#x92E;&#x938;&#x947; &#x907;&#x936;&#x94D;&#x958; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            br
            | &#x924;&#x941;&#x92E;&#x915;&#x94B; &#x939;&#x94B;&#x928;&#x93E; &#x92C;&#x93E;&#x915;&#x940; &#x939;&#x948;
            br
            | &#x92E;&#x941;&#x91D;&#x915;&#x94B; &#x924;&#x941;&#x92E;&#x938;&#x947; &#x907;&#x936;&#x94D;&#x958; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            br
            | &#x924;&#x941;&#x92E;&#x915;&#x94B; &#x939;&#x94B;&#x928;&#x93E; &#x92C;&#x93E;&#x915;&#x940; &#x939;&#x948;
            p
            | &#x92E;&#x941;&#x91D;&#x915;&#x94B; &#x924;&#x941;&#x92E;&#x938;&#x947; &#x907;&#x936;&#x94D;&#x958; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            br
            | &#x924;&#x941;&#x92E;&#x915;&#x94B; &#x939;&#x94B;&#x928;&#x93E; &#x92C;&#x93E;&#x915;&#x940; &#x939;&#x948;
            p &#x906; &#x906;
            p
            | &#x915;&#x93E;&#x901;&#x927;&#x947; &#x92A;&#x947; &#x924;&#x947;&#x930;&#x947; &#x938;&#x930; &#x930;&#x916;&#x924;&#x947; &#x939;&#x940;
            br
            | &#x92E;&#x941;&#x91D;&#x947; &#x92C;&#x939;&#x94B;&#x924; &#x906;&#x930;&#x93E;&#x92E; &#x92E;&#x93F;&#x932;&#x947;
            br
            | &#x92E;&#x947;&#x930;&#x940; &#x926;&#x93F;&#x928; &#x914;&#x930; &#x926;&#x94B;&#x92A;&#x939;&#x930; &#x915;&#x94B;
            br
            | &#x924;&#x941;&#x91D;&#x938;&#x947; &#x939;&#x940; &#x924;&#x94B; &#x936;&#x93E;&#x92E; &#x92E;&#x93F;&#x932;&#x947;
            p
            | &#x924;&#x947;&#x930;&#x947; &#x92C;&#x93F;&#x928;&#x93E; &#x924;&#x94B; &#x92E;&#x947;&#x930;&#x940;
            br
            | &#x939;&#x930; &#x90F;&#x915; &#x938;&#x93E;&#x902;&#x938; &#x906;&#x927;&#x940; &#x939;&#x948;
            p
            | &#x92E;&#x941;&#x91D;&#x915;&#x94B; &#x924;&#x941;&#x92E;&#x938;&#x947; &#x907;&#x936;&#x94D;&#x958; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            br
            | &#x924;&#x941;&#x92E;&#x915;&#x94B; &#x939;&#x94B;&#x928;&#x93E; &#x92C;&#x93E;&#x915;&#x940; &#x939;&#x948;
            br
            | &#x92E;&#x941;&#x91D;&#x915;&#x94B; &#x924;&#x941;&#x92E;&#x938;&#x947; &#x907;&#x936;&#x94D;&#x958; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            br
            | &#x924;&#x941;&#x92E;&#x915;&#x94B; &#x939;&#x94B;&#x928;&#x93E; &#x92C;&#x93E;&#x915;&#x940; &#x939;&#x948;
            p
            | &#x92E;&#x941;&#x91D;&#x915;&#x94B; &#x924;&#x941;&#x92E;&#x938;&#x947; &#x907;&#x936;&#x94D;&#x958; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            br
            | &#x924;&#x941;&#x92E;&#x915;&#x94B; &#x939;&#x94B;&#x928;&#x93E; &#x92C;&#x93E;&#x915;&#x940; &#x939;&#x948;
            p



    #englishlyrics
        span#headinge Baki Hai (English)
            p
            | Sone se pehle dekh ke sona
            br
            |  Neend mein puchu ki tum ho na
            br
            |  Subah subah jab aankhein main kholun
            br
            |  Aake sirhaane tum baitho na
            p
            | Mere liye tera itna
            br
            |  karna hi kaafi hai
            br
            |  Mujhko tumse ishq ho gaya
            br
            |  Tumko hona baaki hai
            p
            | Mujhko tumse ishq ho gaya
            br
            |  Tumko hona baaki hai
            p
            | Aankh mein teri ghar ho mera
            br
            |  Godh mein teri sar ho mera
            br
            |  Poochte ho jab kaisa hoon main
            br
            |  Haal tabhi behtar ho mera
            p
            | Meri razaa tu jaan gaya
            br
            |  Ab tu bhi kya raazi hai
            br
            |  Mujhko tumse ishq ho gaya
            br
            |  Tumko hona baaki hai
            p
            | Mujhko tumse ishq ho gaya
            br
            |  Tumko hona baaqi hai
            p
