extends ../base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../../static/style.css 
      include ../../static/stylecontact.css
      include ../../static/styleabout.css 
      include ../../static/shreya.css 
      include ../../static/shreyasongs/FhirSeTitle.css

block content
    nav.vertical-menu1
        ul
          li #[a(href="/hangover") Hangover]
          li #[a(href="/mastani") Divani Mastani]
          li #[a(href="/tumakolekar") Tumako lekar]
          li #[a(href="/judaiyaan") judaiyaan]
          li #[a(href="/NaWhoMe") Na Who Me]
          li #[a(href="/BakiHai") Baki Hai]
          li #[a(href="/LagiNachute") Lagi Na Chute]
          li #[a(href="/bahara") Bahara]
          li #[a(href="/FhirSeTitle") Fhir Se Title Song]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]

    #hindilyrics
        span Fhir se Title Song (Hindi) 
            | &#x916;&#x93F;&#x95C;&#x915;&#x940; &#x92A;&#x947; &#x906;&#x92F;&#x940; &#x939;&#x948;
            br
            | &#x915;&#x941;&#x91B; &#x92C;&#x93E;&#x930;&#x93F;&#x936;&#x947;&#x902;
            br
            | &#x913; &#x939;&#x94B;..
            p
            p
            | &#x92D;&#x940;&#x917;&#x940; &#x938;&#x940; &#x932;&#x93E;&#x92F;&#x940; &#x939;&#x948;
            br
            | &#x938;&#x902;&#x917; &#x916;&#x94D;&#x935;&#x93E;&#x939;&#x93F;&#x936;&#x947;&#x902;
            br
            | &#x92B;&#x93F;&#x930; &#x938;&#x947;, &#x92B;&#x93F;&#x930; &#x938;&#x947;
            p
            | &#x92E;&#x94C;&#x938;&#x92E; &#x928;&#x947; &#x92C;&#x947;&#x907;&#x930;&#x93E;&#x926;&#x93E;
            br
            | &#x932;&#x93F; &#x915;&#x930;&#x935;&#x91F;&#x947;&#x902; &#x939;&#x92E;&#x94D;&#x92E;..
            br
            | &#x92A;&#x93E;&#x928;&#x940; &#x92E;&#x947;&#x902; &#x932;&#x939;&#x930;&#x94B;&#x902; &#x915;&#x940;
            br
            | &#x92C;&#x95C;&#x940; &#x939;&#x930;&#x915;&#x924;&#x947;&#x902;
            br
            | &#x92B;&#x93F;&#x930; &#x938;&#x947;, &#x92B;&#x93F;&#x930; &#x938;&#x947;..
            p
            | &#x915;&#x941;&#x91B; &#x906;&#x939;&#x91F; &#x938;&#x940; &#x91C;&#x92C; &#x939;&#x94B;&#x924;&#x940; &#x939;&#x948;
            br
            | &#x918;&#x92C;&#x930;&#x93E;&#x939;&#x91F; &#x938;&#x940; &#x92B;&#x93F;&#x930; &#x939;&#x94B;&#x924;&#x940; &#x939;&#x948;
            p
            | &#x92C;&#x93F;&#x928; &#x92C;&#x93E;&#x924; &#x915;&#x947; &#x938;&#x940;&#x930;&#x939;&#x928; &#x938;&#x940;
            br
            | &#x915;&#x941;&#x91B; &#x939;&#x94B;&#x924;&#x940; &#x939;&#x948;
            br
            | &#x939;&#x93E;&#x901;..
            br
            | &#x915;&#x94D;&#x92F;&#x93E; &#x92E;&#x93F;&#x932;&#x947;&#x902;&#x917;&#x947; &#x907;&#x938; &#x926;&#x93F;&#x932; &#x915;&#x94B;

            br
            | &#x928;&#x92F;&#x940; &#x92E;&#x902;&#x91C;&#x93F;&#x932;&#x947;&#x902; &#x939;&#x92E;&#x94D;&#x92E;..
            p
            | &#x915;&#x94D;&#x92F;&#x93E; &#x938;&#x91C;&#x947;&#x902;&#x917;&#x940; &#x926;&#x94B;&#x92C;&#x93E;&#x930;&#x93E;
            br
            | &#x935;&#x939;&#x940; &#x92E;&#x939;&#x95E;&#x93F;&#x932;&#x947;&#x902;
            br
            | &#x92B;&#x93F;&#x930; &#x938;&#x947;, &#x92B;&#x93F;&#x930; &#x938;&#x947;..
            p
            | &#x938;&#x92A;&#x928;&#x94B; &#x92E;&#x947;&#x902; &#x915;&#x93F;&#x938;&#x940; &#x938;&#x947; &#x92E;&#x93F;&#x932;&#x924;&#x940; &#x939;&#x942;&#x901;
            br
            | &#x92B;&#x93F;&#x930; &#x926;&#x947;&#x930; &#x938;&#x947; &#x938;&#x94B; &#x915;&#x947; &#x909;&#x920;&#x924;&#x940; &#x939;&#x942;&#x901;
            p
            | &#x926;&#x93F;&#x928; &#x92D;&#x930; &#x92F;&#x942;&#x901; &#x939;&#x940; &#x915;&#x941;&#x91B; &#x938;&#x94B;&#x91A;&#x924;&#x93E; &#x930;&#x939;&#x924;&#x93E; &#x939;&#x942;&#x901;
            br
            | &#x92F;&#x947; &#x939;&#x935;&#x93E;&#x90F;&#x902; &#x932;&#x93E;&#x92F;&#x940; &#x939;&#x948; &#x928;&#x92F;&#x940; &#x916;&#x94D;&#x935;&#x93E;&#x939;&#x93F;&#x936;&#x947;&#x902;
            br
            |&#x913; &#x939;&#x94B; 
            p
            | &#x92C;&#x95C;&#x924;&#x940; &#x938;&#x940; &#x91C;&#x93E; &#x930;&#x939;&#x940; &#x939;&#x948;
            br
            | &#x92E;&#x947;&#x930;&#x940; &#x939;&#x938;&#x930;&#x924;&#x947;&#x902;
            p
            | &#x92B;&#x93F;&#x930; &#x938;&#x947;, &#x92B;&#x93F;&#x930; &#x938;&#x947;
            br
            | &#x92B;&#x93F;&#x930; &#x938;&#x947;, &#x92B;&#x93F;&#x930; &#x938;&#x947;
            br
            | &#x92B;&#x93F;&#x930; &#x938;&#x947;, &#x92B;&#x93F;&#x930; &#x938;&#x947;..



    