extends ../base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../../static/style.css 
      include ../../static/stylecontact.css
      include ../../static/styleabout.css 
      include ../../static/shreya.css 
      include ../../static/shreyasongs/judaiyaan.css

block content
    nav.vertical-menu1
        ul
          li #[a(href="/hangover") Hangover]
          li #[a(href="/mastani") Divani Mastani]
          li #[a(href="/tumakolekar") Tumako lekar]
          li #[a(href="/judaiyaan") judaiyaan]
          li #[a(href="/NaWhoMe") Na Who Me]
          li #[a(href="/BakiHai") Baki Hai]
          li #[a(href="/LagiNachute") Lagi Na Chute]
          li #[a(href="/bahara") Bahara]
          li #[a(href="/FhirSeTitle") Fhir Se Title Song]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]


    #hindilyrics
        span Judaiyaan (Hindi)  
            p          
            | &#x926;&#x930;&#x94D;&#x926; &#x915;&#x940; &#x92E;&#x939;&#x95E;&#x93F;&#x932; &#x938;&#x91C;&#x93E; &#x915;&#x947;
            br
            | &#x92B;&#x93F;&#x930; &#x938;&#x947; &#x924;&#x928;&#x94D;&#x939;&#x93E; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            br
            | &#x930;&#x93E;&#x924; &#x926;&#x93F;&#x928; &#x92C;&#x938; &#x930;&#x94B; &#x930;&#x939;&#x93E; &#x939;&#x948;
            br
            | &#x928;&#x93E;&#x92E; &#x932;&#x947;&#x915;&#x947; &#x924;&#x947;&#x930;&#x93E;
            p
            | &#x91C;&#x93F;&#x938;&#x915;&#x94B; &#x916;&#x941;&#x926;&#x93E; &#x925;&#x93E; &#x92C;&#x928;&#x93E;&#x92F;&#x93E;
            br
            | &#x938;&#x930; &#x91C;&#x93F;&#x938;&#x915;&#x947; &#x906;&#x917;&#x947; &#x91D;&#x941;&#x915;&#x93E;&#x92F;&#x93E;
            br
            | &#x909;&#x938;&#x928;&#x947; &#x939;&#x940; &#x924;&#x94B;&#x921;&#x93E; &#x92E;&#x947;&#x930;&#x93E; &#x926;&#x93F;&#x932;
            br
            | &#x914;&#x930; &#x926;&#x947;&#x915;&#x947; &#x92E;&#x941;&#x91D;&#x915;&#x94B; &#x917;&#x92F;&#x93E;
            p
            | &#x92F;&#x947; &#x91C;&#x941;&#x926;&#x93E;&#x908;&#x92F;&#x93E;&#x901; &#x935;&#x947;
            br
            | &#x92F;&#x947; &#x91C;&#x941;&#x926;&#x93E;&#x908;&#x92F;&#x93E;&#x901; &#x935;&#x947;
            br
            | &#x92F;&#x947; &#x91C;&#x941;&#x926;&#x93E;&#x908;&#x92F;&#x93E;&#x901; &#x935;&#x947;
            br
            | &#x92F;&#x947; &#x91C;&#x941;&#x926;&#x93E;&#x908;&#x92F;&#x93E;&#x901; &#x935;&#x947;
            p
            |&#x91C;&#x941;&#x926;&#x93E;&#x908;&#x92F;&#x93E;&#x901; &#x935;&#x947;
            p
            | &#x939;&#x94B;..
            br
            | &#x915;&#x930; &#x932;&#x942;&#x901; &#x92E;&#x948;&#x902; &#x915;&#x948;&#x938;&#x947; &#x92F;&#x915;&#x940;&#x928;
            br
            | &#x924;&#x942; &#x92E;&#x947;&#x930;&#x947; &#x92A;&#x93E;&#x938; &#x939;&#x948; &#x939;&#x940; &#x928;&#x939;&#x940;&#x902;
            br
            | &#x905;&#x92D;&#x940; &#x924;&#x94B; &#x915;&#x932; &#x939;&#x940; &#x906;&#x92F;&#x93E; &#x925;&#x93E; &#x924;&#x942;
            br
            | &#x916;&#x94D;&#x935;&#x93E;&#x92C;&#x94B;&#x902; &#x92E;&#x947;&#x902;
            p
            | &#x92F;&#x93E;&#x926; &#x906;&#x924;&#x940; &#x939;&#x948; &#x91C;&#x92C; &#x924;&#x947;&#x930;&#x940;
            br
            | &#x938;&#x93E;&#x938; &#x930;&#x941;&#x915; &#x91C;&#x93E;&#x924;&#x940; &#x939;&#x948; &#x92E;&#x947;&#x930;&#x940;
            br
            | &#x930;&#x94B;&#x91C; &#x92E;&#x930;&#x924;&#x940; &#x939;&#x942;&#x901; &#x910;&#x938;&#x947; &#x92E;&#x948;&#x902;
            br
            | &#x916;&#x941;&#x926; &#x92E;&#x947;&#x902; &#x939;&#x940;
            p
            | &#x92C;&#x938; &#x907;&#x924;&#x928;&#x940; &#x939;&#x940; &#x926;&#x941;&#x906; &#x939;&#x948;
            br
            | &#x92E;&#x941;&#x91D;&#x947; &#x907;&#x936;&#x94D;&#x958; &#x92E;&#x947;&#x902; &#x91C;&#x94B; &#x92E;&#x93F;&#x932;&#x93E; &#x939;&#x948;
            br
            | &#x926;&#x941;&#x936;&#x94D;&#x92E;&#x928; &#x915;&#x94B; &#x92D;&#x940; &#x928;&#x93E; &#x92E;&#x93F;&#x932;&#x947;
            br
            | &#x910;&#x938;&#x940; &#x938;&#x91C;&#x93E;&mldr;
            p 
            | &#x92F;&#x947; &#x91C;&#x941;&#x926;&#x93E;&#x908;&#x92F;&#x93E;&#x901; &#x935;&#x947;
            br
            | &#x92F;&#x947; &#x91C;&#x941;&#x926;&#x93E;&#x908;&#x92F;&#x93E;&#x901; &#x935;&#x947;
            br
            | &#x92F;&#x947; &#x91C;&#x941;&#x926;&#x93E;&#x908;&#x92F;&#x93E;&#x901; &#x935;&#x947;
            br
            | &#x92F;&#x947; &#x91C;&#x941;&#x926;&#x93E;&#x908;&#x92F;&#x93E;&#x901; &#x935;&#x947;
            p
            | &#x92F;&#x947; &#x91C;&#x941;&#x926;&#x93E;&#x908;&#x92F;&#x93E;&#x901; &#x935;&#x947;
            br
            | &#x92F;&#x947; &#x91C;&#x941;&#x926;&#x93E;&#x908;&#x92F;&#x93E;&#x901; &#x935;&#x947;
            br
            | &#x92F;&#x947; &#x91C;&#x941;&#x926;&#x93E;&#x908;&#x92F;&#x93E;&#x901; &#x935;&#x947;
            br
            | &#x92F;&#x947; &#x91C;&#x941;&#x926;&#x93E;&#x908;&#x92F;&#x93E;&#x901; &#x935;&#x947;
            p




    #englishlyrics
        span#headinge Judaiyaan (English)
            p
            | Dard Ki Mehfeel Saja Ke
            br
            |  Fir Se Tanha Ho Gaya
            br
            |  Raat Din Bas Ro Raha Hai
            br
            |  Naam Leke Tera
            p
            | Jisko Khuda Tha Banaya
            br
            |  Sirr Jiske Aage Jhukaya
            br
            |  Usne Hi Toda Mera Dil
            br
            |  Aur Deke Mujhko Gaya
            p
            | Yeh Judaiyaan Ve,
            p
            | Yeh Judaiyaan Ve
            br
            |  Yeh Judaiyaan Ve,
            p
            | Yeh Judaiyaan Ve
            br
            |  Judaiyaan Ve
            p
            | Oh Karloon Main Kaise Yakeen
            br
            |  Tu Mere Paas Hain Hi Nahi
            br
            |  Abhi Toh Kal Hi Aaya Tha Tu
            br
            |  Khwaabon Mein
            p
            | Yaad Aati Hai Jab Teri
            br
            |  Saans Ruk Jaati Hain Meri
            br
            |  Roj Marti Hu Aise Main
            br
            |  Khud Me Hi
            p
            | Bass Itni Si Hi Duaa Hai
            br
            |  Mujhe Ishq Mein Jo Mila Hai
            br
            |  Dushman Ko Bhi Na Mile
            br
            |  Aisi Saza
            p
            | Yeh Judaiyaan Ve,
            p
            | Yeh Judaiyaan Ve
            br
            |  Yeh Judaiyaan Ve,
            p
            | Yeh Judaiyaan Ve
            br
            |  Yeh Judaiyaan Ve,
            p
            | Yeh Judaiyaan Ve
            br
            |  Yeh Judaiyaan Ve,
            p
            | Yeh Judaiyaan Ve
            p
            | Till Death Do Us Apart
            br
            |  Yeh Judaiyaan Ve,
            p
            | Yeh Judaiyaan Ve
            p