extends ../base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../../static/style.css 
      include ../../static/stylecontact.css
      include ../../static/styleabout.css 
      include ../../static/shreya.css 
      include ../../static/shreyasongs/LagiNachute.css

block content
    nav.vertical-menu1
        ul
          li #[a(href="/hangover") Hangover]
          li #[a(href="/mastani") Divani Mastani]
          li #[a(href="/tumakolekar") Tumako lekar]
          li #[a(href="/judaiyaan") judaiyaan]
          li #[a(href="/NaWhoMe") Na Who Me]
          li #[a(href="/BakiHai") Baki Hai]
          li #[a(href="/LagiNachute") Lagi Na Chute]
          li #[a(href="/bahara") Bahara]
          li #[a(href="/FhirSeTitle") Fhir Se Title Song]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
    #hindilyrics
        span Lagi Na Chute (Hindi)
            p 
            | &#x915;&#x93F;&#x938; &#x924;&#x930;&#x939; &#x91A;&#x93E;&#x939;&#x942;&#x901; &#x924;&#x941;&#x91D;&#x947;
            br
            | &#x91A;&#x93E;&#x939;&#x942;&#x901; &#x92D;&#x940; &#x924;&#x94B; &#x924;&#x941;&#x91D;&#x938;&#x947; &#x92E;&#x948;&#x902;
            br
            | &#x90F;&#x915; &#x92A;&#x932; &#x915;&#x94B; &#x92D;&#x940; &#x926;&#x942;&#x930; &#x928;&#x93E; &#x930;&#x939; &#x938;&#x915;&#x942;&#x901; 
            p
            p
            | &#x91A;&#x93E;&#x939;&#x947; &#x91C;&#x941;&#x926;&#x93E; &#x924;&#x947;&#x930;&#x947; &#x92E;&#x947;&#x930;&#x947; &#x930;&#x938;&#x94D;&#x924;&#x947; &#x939;&#x948;&#x902; &#x92E;&#x917;&#x930;
            br
            | &#x906; &#x92E;&#x948;&#x902; &#x92E;&#x902;&#x91C;&#x93F;&#x932;&#x947; &#x91C;&#x94B;&#x95C; &#x926;&#x942;&#x902;
            br
            | &#x939;&#x94B;..&#x930;&#x93F;&#x936;&#x94D;&#x924;&#x93E; &#x938;&#x93E; &#x939;&#x948; &#x92F;&#x947; &#x91C;&#x941;&#x95C;&#x928;&#x947; &#x932;&#x917;&#x93E; &#x91C;&#x94B;
            br
            | &#x91A;&#x93E;&#x939;&#x942;&#x901; &#x915;&#x92D;&#x940; &#x928;&#x93E; &#x92F;&#x947; &#x91F;&#x942;&#x91F;&#x947;
            p
            | &#x932;&#x93E;&#x917;&#x940; &#x928;&#x93E; &#x91B;&#x942;&#x91F;&#x947;.. &#x932;&#x93E;&#x917;&#x940; &#x928;&#x93E; &#x91B;&#x942;&#x91F;&#x947;..
            br
            | &#x932;&#x93E;&#x917;&#x940; &#x928;&#x93E; &#x91B;&#x942;&#x91F;&#x947;.. &#x932;&#x93E;&#x917;&#x940; &#x928;&#x93E; &#x91B;&#x942;&#x91F;&#x947;..
            br
            | &#x932;&#x93E;&#x917;&#x940; &#x928;&#x93E; &#x91B;&#x942;&#x91F;&#x947;.. &#x932;&#x93E;&#x917;&#x940; &#x928;&#x93E; &#x91B;&#x942;&#x91F;&#x947;..
            br
            | &#x932;&#x93E;&#x917;&#x940; &#x928;&#x93E; &#x91B;&#x942;&#x91F;&#x947;.. &#x932;&#x93E;&#x917;&#x940; &#x928;&#x93E; &#x91B;&#x942;&#x91F;&#x947;..
            p
            | &#x916;&#x94B;&#x928;&#x947; &#x938;&#x947; &#x921;&#x930;&#x924;&#x93E; &#x939;&#x942;&#x901; &#x924;&#x941;&#x91D;&#x947;
            br
            | &#x939;&#x94B;.. &#x939;&#x93E;&#x901; &#x92A;&#x94D;&#x92F;&#x93E;&#x930; &#x915;&#x930;&#x924;&#x93E; &#x939;&#x942;&#x901; &#x924;&#x941;&#x91D;&#x947;
            p
            | &#x939;&#x93E;&#x901;..&#x92A;&#x930; &#x939;&#x930; &#x926;&#x92B;&#x93E; &#x926;&#x93F;&#x932; &#x92E;&#x947;&#x902; &#x926;&#x92C;&#x940;
            br
            | &#x930;&#x939; &#x91C;&#x93E;&#x924;&#x940; &#x939;&#x948; &#x915;&#x94D;&#x92F;&#x942;&#x901; &#x92C;&#x93E;&#x924; &#x92F;&#x947;
            br
            | &#x905;&#x92C; &#x907;&#x938; &#x91C;&#x917;&#x939; &#x906; &#x90F;&#x915; &#x926;&#x92B;&#x93E;
            br
            | &#x915;&#x939; &#x926;&#x947; &#x92E;&#x941;&#x91D;&#x947;..
            p
            | &#x932;&#x93E;&#x917;&#x940; &#x928;&#x93E; &#x91B;&#x942;&#x91F;&#x947;.. &#x932;&#x93E;&#x917;&#x940; &#x928;&#x93E; &#x91B;&#x942;&#x91F;&#x947;..
            br
            | &#x932;&#x93E;&#x917;&#x940; &#x928;&#x93E; &#x91B;&#x942;&#x91F;&#x947;.. &#x932;&#x93E;&#x917;&#x940; &#x928;&#x93E; &#x91B;&#x942;&#x91F;&#x947;..
            br
            | &#x932;&#x93E;&#x917;&#x940; &#x928;&#x93E; &#x91B;&#x942;&#x91F;&#x947;.. &#x932;&#x93E;&#x917;&#x940; &#x928;&#x93E; &#x91B;&#x942;&#x91F;&#x947;..
            br
            | &#x932;&#x93E;&#x917;&#x940; &#x928;&#x93E; &#x91B;&#x942;&#x91F;&#x947;.. &#x932;&#x93E;&#x917;&#x940; &#x928;&#x93E; &#x91B;&#x942;&#x91F;&#x947;..
            p
            | &#x939;&#x94B;.. &#x924;&#x947;&#x930;&#x947; &#x92C;&#x93F;&#x928; &#x917;&#x941;&#x95B;&#x93E;&#x930;&#x93E;
            br
            | &#x928;&#x939;&#x940;&#x902; &#x939;&#x948; &#x917;&#x935;&#x93E;&#x930;&#x93E;
            br
            | &#x91A;&#x93E;&#x939;&#x924;&#x947; &#x915;&#x92D;&#x940; &#x928;&#x93E; &#x92F;&#x947; &#x91F;&#x942;&#x91F;&#x947;
            p


    #englishlyrics
        span#headinge Lagi Na Chute (English)
            p
            | Iss tarah
            br
            | Chahun tujhe
            br
            | Chahun bhi toh
            br
            | Tujhse main
            br
            | Ek pal ko bhi door na
            br
            | Reh sakun
            p
            | Chahe juda
            br
            | Tere mere
            br
            | Raaste hain magar
            br
            | Aa main
            br
            | Manzilein jod dun
            p
            | Ho rishta sa hai yeh
            br
            | Judne laga jo
            br
            | Chahun kabhi na yeh toote
            p
            |Laagi na choote&mldr;
            p
            | Khone se darta hoon tujhe
            br
            | Haan pyar karta hoon tujhe
            p
            | Haan par har dafa
            br
            | Dil mein dabi
            br
            | Reh jati hai
            br
            | Kyun baat yeh
            p
            | Ab iss jagah
            br
            | Haan ek dafa
            br
            | Keh de mujhe
            p
            |Laagi na choote &mldr;
            p
            | Haan tere bin guzara
            br
            | Nahi hai gawara
            br
            | Chahatein kabhi na yeh toote
            p