extends ../base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../../static/style.css 
      include ../../static/stylecontact.css
      include ../../static/styleabout.css 
      include ../../static/shreya.css 
      include ../../static/shreyasongs/mastani.css

block content
    nav.vertical-menu1
        ul
          li #[a(href="/hangover") Hangover]
          li #[a(href="/mastani") Divani Mastani]
          li #[a(href="/tumakolekar") Tumako lekar]
          li #[a(href="/judaiyaan") judaiyaan]
          li #[a(href="/NaWhoMe") Na Who Me]
          li #[a(href="/BakiHai") Baki Hai]
          li #[a(href="/LagiNachute") Lagi Na Chute]
          li #[a(href="/bahara") Bahara]
          li #[a(href="/FhirSeTitle") Fhir Se Title Song]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]


    #hindilyrics
        span Divani Mastani (Hindi) 
            p
            | &#x928;&#x935;&#x924;&#x941;&#x928;&#x940; &#x906;&#x932;&#x940; &#x905;&#x92A;&#x94D;&#x938;&#x930;&#x93E;
            br
            | &#x928;&#x935;&#x924;&#x941;&#x928;&#x940; &#x906;&#x932;&#x940; &#x905;&#x92A;&#x94D;&#x938;&#x930;&#x93E;
            br
            | &#x906;&#x936;&#x940; &#x938;&#x941;&#x928;&#x94D;&#x926;&#x930;&#x93E; &#x938;&#x93E;&#x91C; &#x938;&#x93E;&#x91C;&#x92A;&#x941;&#x928;&#x94D;&#x928;&#x93E;
            br
            | &#x906;&#x932;&#x940; &#x906;&#x932;&#x940; &#x906;&#x932;&#x940;
            br
            | &#x906;&#x932;&#x940; &#x939;&#x94B; &#x906;&#x932;&#x940;
            br
            | &#x91C;&#x948;&#x938;&#x93E; &#x92E;&#x93E;&#x920;&#x940; &#x92E;&#x93E;&#x928;&#x932;&#x93E; &#x917;&#x91C;&#x930;&#x93E;
            br
            | &#x926;&#x94B;&#x915;&#x94D;&#x92F;&#x947;&#x91A;&#x93E; &#x928;&#x91C;&#x930;&#x93E;&#x920;&#x947;&#x932; &#x920;&#x947;&#x932; &#x924;&#x93F;&#x91A;&#x94D;&#x92F;&#x94C;&#x935;&#x930;
            br
            | &#x906;&#x932;&#x940; &#x906;&#x932;&#x940;
            p
            | &#x926;&#x941;&#x928;&#x93F;&#x92F;&#x93E; &#x91A;&#x940; &#x92A;&#x94D;&#x92F;&#x93E;&#x930;&#x940; &#x924;&#x942;
            br
            | &#x906;&#x917;&#x93E; &#x928;&#x93E;&#x930;&#x940; &#x939;&#x930;&#x94D;&#x928;&#x93F;&#x917;&#x947;
            br
            | &#x906;&#x917;&#x93E; &#x930;&#x93E;&#x928;&#x940; &#x938;&#x941;&#x928;&#x94D;&#x926;&#x930;&#x93E; &#x939;&#x93E; &#x939;&#x93E;
            br
            | &#x906;&#x932;&#x940; &#x939;&#x94B; &#x906;&#x932;&#x940;
            br
            | &#x906;&#x932;&#x940; &#x939;&#x94B; &#x906;&#x932;&#x940;
            br
            | &#x906;&#x932;&#x940; &#x913; &#x906;&#x932;&#x940;
            p
            | &#x928;&#x93E;&#x95B; &#x91C;&#x94B; &#x924;&#x947;&#x930;&#x940; &#x932;&#x93E;&#x917;&#x940; &#x92E;&#x948;&#x902; &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940; &#x939;&#x94B; &#x917;&#x92F;&#x940;
            br
            | &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940; &#x939;&#x93E;&#x901; &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940;, &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940; &#x939;&#x94B; &#x917;&#x908;
            br
            | &#x92E;&#x936;&#x939;&#x942;&#x930; &#x92E;&#x947;&#x930;&#x947; &#x907;&#x936;&#x94D;&#x958; &#x915;&#x940; &#x915;&#x939;&#x93E;&#x928;&#x940; &#x939;&#x94B; &#x917;&#x92F;&#x940;
            br
            | &#x91C;&#x94B; &#x91C;&#x917; &#x928;&#x947; &#x928; &#x92E;&#x93E;&#x928;&#x940; &#x924;&#x94B; &#x92E;&#x948;&#x902;&#x928;&#x947; &#x92D;&#x940; &#x920;&#x93E;&#x928;&#x940;
            br
            | &#x915;&#x939;&#x93E;&#x901; &#x925;&#x940; &#x92E;&#x948;&#x902; &#x926;&#x947;&#x916;&#x94B; &#x915;&#x939;&#x93E;&#x901; &#x91A;&#x932;&#x940; &#x906;&#x908;
            br
            | &#x915;&#x939;&#x924;&#x947; &#x939;&#x948;&#x902; &#x92F;&#x947; &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940; &#x92E;&#x938;&#x94D;&#x924;&#x93E;&#x928;&#x940; &#x939;&#x94B; &#x917;&#x92F;&#x940;
            p
            | &#x92E;&#x936;&#x939;&#x942;&#x930; &#x92E;&#x947;&#x930;&#x947; &#x907;&#x936;&#x94D;&#x958; &#x915;&#x940; &#x915;&#x939;&#x93E;&#x928;&#x940; &#x939;&#x94B; &#x917;&#x92F;&#x940;
            br
            | &#x91C;&#x94B; &#x91C;&#x917; &#x928;&#x947; &#x928; &#x92E;&#x93E;&#x928;&#x940; &#x924;&#x94B; &#x92E;&#x948;&#x902;&#x928;&#x947; &#x92D;&#x940; &#x920;&#x93E;&#x928;&#x940;
            br
            | &#x915;&#x939;&#x93E;&#x901; &#x925;&#x940; &#x92E;&#x948;&#x902; &#x926;&#x947;&#x916;&#x94B; &#x915;&#x939;&#x93E;&#x901; &#x91A;&#x932;&#x940; &#x906;&#x908;
            br
            | &#x915;&#x939;&#x924;&#x947; &#x939;&#x948;&#x902; &#x92F;&#x947; &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940; &#x92E;&#x938;&#x94D;&#x924;&#x93E;&#x928;&#x940; &#x939;&#x94B; &#x917;&#x92F;&#x940;
            br
            | &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940; &#x939;&#x93E;&#x901; &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940;, &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940; &#x939;&#x94B; &#x917;&#x92F;&#x940;
            p
            | &#x95B;&#x959;&#x94D;&#x92E; &#x910;&#x938;&#x93E; &#x924;&#x942;&#x928;&#x947; &#x932;&#x917;&#x93E;&#x92F;&#x93E;
            br
            | &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940;, &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940;, &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940;, &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940; &#x939;&#x94B; &#x917;&#x92F;&#x940;
            br
            | &#x92E;&#x930;&#x939;&#x92E; &#x910;&#x938;&#x93E; &#x924;&#x942;&#x928;&#x947; &#x932;&#x917;&#x93E;&#x92F;&#x93E;
            br
            | &#x930;&#x942;&#x939;&#x93E;&#x928;&#x940;, &#x930;&#x942;&#x939;&#x93E;&#x928;&#x940; &#x930;&#x942;&#x939;&#x93E;&#x928;&#x940; &#x930;&#x942;&#x939;&#x93E;&#x928;&#x940; &#x939;&#x94B; &#x917;&#x92F;&#x940;
            br
            | &#x92A;&#x939;&#x91A;&#x93E;&#x928; &#x92E;&#x947;&#x930;&#x947; &#x907;&#x936;&#x94D;&#x958; &#x915;&#x940; &#x905;&#x92C; &#x924;&#x94B;
            br
            | &#x92A;&#x939;&#x91A;&#x93E;&#x928; &#x92E;&#x947;&#x930;&#x947; &#x907;&#x936;&#x94D;&#x958; &#x915;&#x940; &#x905;&#x92C; &#x924;&#x94B;
            br
            | &#x930;&#x935;&#x93E;&#x928;&#x940;, &#x930;&#x935;&#x93E;&#x928;&#x940;, &#x930;&#x935;&#x93E;&#x928;&#x940;, &#x930;&#x935;&#x93E;&#x928;&#x940; &#x939;&#x94B; &#x917;&#x92F;&#x940;
            p
            | &#x939;&#x94B; &#x92E;&#x936;&#x939;&#x942;&#x930; &#x92E;&#x947;&#x930;&#x947; &#x907;&#x936;&#x94D;&#x958; &#x915;&#x940; &#x915;&#x939;&#x93E;&#x928;&#x940; &#x939;&#x94B; &#x917;&#x92F;&#x940;
            br
            | &#x915;&#x939;&#x924;&#x947; &#x939;&#x948;&#x902; &#x92F;&#x947; &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940; &#x92E;&#x938;&#x94D;&#x924;&#x93E;&#x928;&#x940; &#x939;&#x94B; &#x917;&#x92F;&#x940;
            br
            | &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940; &#x939;&#x93E;&#x901; &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940;, &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940; &#x939;&#x94B; &#x917;&#x92F;&#x940;
            br
            | &#x92E;&#x936;&#x939;&#x942;&#x930; &#x92E;&#x947;&#x930;&#x947; &#x907;&#x936;&#x94D;&#x958; &#x915;&#x940; &#x915;&#x939;&#x93E;&#x928;&#x940; &#x939;&#x94B; &#x917;&#x92F;&#x940;
            br
            | &#x91C;&#x94B; &#x91C;&#x917; &#x928;&#x947; &#x928; &#x92E;&#x93E;&#x928;&#x940; &#x924;&#x94B; &#x92E;&#x948;&#x902;&#x928;&#x947; &#x92D;&#x940; &#x920;&#x93E;&#x928;&#x940;
            br
            | &#x915;&#x939;&#x93E;&#x901; &#x925;&#x940; &#x92E;&#x948;&#x902; &#x926;&#x947;&#x916;&#x94B; &#x915;&#x939;&#x93E;&#x901; &#x91A;&#x932;&#x940; &#x906;&#x908;
            p
            | &#x915;&#x939;&#x924;&#x947; &#x939;&#x948;&#x902; &#x92F;&#x947; &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940; &#x92E;&#x938;&#x94D;&#x924;&#x93E;&#x928;&#x940; &#x939;&#x94B; &#x917;&#x92F;&#x940;
            br
            | &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940; &#x939;&#x93E;&#x901; &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940;, &#x926;&#x940;&#x935;&#x93E;&#x928;&#x940; &#x939;&#x94B; &#x917;&#x92F;&#x940;
            p
            | &#x938;&#x92C; &#x928;&#x942;&#x930; &#x928;&#x942;&#x930; &#x938;&#x93E; &#x92C;&#x93F;&#x916;&#x930;&#x93E; &#x939;&#x948;
            br
            | &#x90F;&#x915; &#x924;&#x942; &#x939;&#x940; &#x916;&#x94D;&#x92F;&#x93E;&#x932;&#x94B;&#x902; &#x92E;&#x947;&#x902; &#x909;&#x924;&#x930;&#x93E; &#x939;&#x948;
            br
            | &#x92C;&#x938; &#x91D;&#x942;&#x92E; &#x91D;&#x942;&#x92E; &#x91D;&#x942;&#x92E; &#x91D;&#x942;&#x92E; &#x91C;&#x93E;&#x924;&#x93E; &#x939;&#x948; &#x926;&#x93F;&#x932;
            br
            | &#x924;&#x942; &#x92E;&#x938;&#x94D;&#x924;&#x93E;&#x928;&#x940; &#x939;&#x948;
            br
            | &#x924;&#x942; &#x92E;&#x938;&#x94D;&#x924;&#x93E;&#x928;&#x940; &#x939;&#x948;
            br
            | &#x92A;&#x93E;&#x915;&#x940;&#x95B;&#x93E; &#x939;&#x938;&#x94D;&#x924;&#x940; &#x939;&#x948;&#x902; &#x924;&#x947;&#x930;&#x940; &#x924;&#x942; &#x928;&#x942;&#x930;&#x93E;&#x928;&#x940; &#x939;&#x948;
            p
            | &#x938;&#x92C; &#x928;&#x942;&#x930; &#x928;&#x942;&#x930; &#x938;&#x93E; &#x92C;&#x93F;&#x916;&#x930;&#x93E; &#x939;&#x948;
            br
            | &#x90F;&#x915; &#x924;&#x942; &#x939;&#x940; &#x916;&#x94D;&#x92F;&#x93E;&#x932;&#x94B;&#x902; &#x92E;&#x947;&#x902; &#x909;&#x924;&#x930;&#x93E; &#x939;&#x948;









    #englishlyrics
        span#headinge Divani Mastani (English)
            p
            | Navatunni aali apsara
            br
            | Aashi sundara saaj sathpudha
            br
            | Aali aali aali, aali ho aali
            br
            | Jaisa maathi maanla gajra
            br
            | D okyecha nazra theel tichyaavar
            br
            | Aali ali aee haan
            p
            p
            | Duniya chi pyari tu
            br
            | Aaga naari harnigaa
            br
            | Aaga raani sundaraa..
            br
            | Aali ho aali aali ho aali
            br
            | Aali ali..
            p
            | Nazar jo teri laagi main deewani ho gayi
            br
            | Deewani haan deewani, deewani ho gayi
            br
            | Mashoor mere ishq ki kahani ho gayi
            br
            | Jo jag ne na maani toh maine bhi thaani
            br
            | Kahan thi main dekho kaha chali aayi
            p
            | Kehte hai ye deewani mastani hogayi
            br
            | Mashoor mere ishq ki kahani hogayi
            br
            | Jo jag ne na maani toh maine bhi thaani
            br
            | Kahan thi main dekho kahan chali aayi
            p
            | Kehte hain ye deewani mastani hogayi
            br
            | Deewani haan deewani deewani hogayi
            p
            | Zakham aisa tune lagaya
            br
            | Deewani deewani deewani deewani hogayi
            br
            | Marham aisa tune lagaya
            br
            | Ruhani ruhani ruhani ruhani hogayi
            p
            | Pehchan mere ishq ki ab to
            br
            | Pehchan mere ishq ki ab to
            br
            | Rawani, rawani, rawani, rawani hogayi
            p
            | Mashoor mere ishq ki kahani ho gayi
            br
            | Kehte hai yeh deewani mastani ho gayi
            br
            | Deewani haan deewani, deewani ho gayi
            p
            | Mashoor mere ishq ki kahani ho gayi
            br
            | Jo jag ne na maani toh maine bhi thaani
            br
            | Kahan thi main dekho kahan chali aayi
            p
            | Kehte hai ye deewani mastani ho gayi
            br
            | Deewani haan deewani, deewani ho gayi
            p
            | Sab noor noor sa bikhra hai
            br
            | Ek tu hi khayalon mein utra hai
            br
            | Bas jhoom jhoom jhoom jhoom jaata hai dil
            br
            | Tu mastani hai ay..
            br
            | Tu deewani hai ay..
            br
            | Paakeza hasti hain teri tu noorani hai
            br
            | Sab noor noor sa bikra hai
            br
            | Ek tu hi khayalon mein utra hai
            p
