extends ../base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../../static/style.css 
      include ../../static/stylecontact.css
      include ../../static/styleabout.css 
      include ../../static/shreya.css 
      include ../../static/shreyasongs/NaWhoMe.css

block content
    nav.vertical-menu1
        ul
          li #[a(href="/hangover") Hangover]
          li #[a(href="/mastani") Divani Mastani]
          li #[a(href="/tumakolekar") Tumako lekar]
          li #[a(href="/judaiyaan") judaiyaan]
          li #[a(href="/NaWhoMe") Na Who Me]
          li #[a(href="/BakiHai") Baki Hai]
          li #[a(href="/LagiNachute") Lagi Na Chute]
          li #[a(href="/bahara") Bahara]
          li #[a(href="/FhirSeTitle") Fhir Se Title Song]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]


    #hindilyrics
        span Na Who Me (Hindi) 
            p 
            | &#x939;&#x92E; &#x91C;&#x94B; &#x926;&#x940;&#x935;&#x93E;&#x928;&#x947; &#x925;&#x947; &#x915;&#x92D;&#x940;
            br
            | &#x905;&#x92C; &#x935;&#x94B; &#x926;&#x940;&#x935;&#x93E;&#x928;&#x947; &#x939;&#x92E; &#x928;&#x939;&#x940;&#x902;
            br
            | &#x938;&#x93E;&#x901;&#x938;&#x94B;&#x902; &#x938;&#x947; &#x91B;&#x942;&#x91F;&#x93E; &#x939;&#x948;
            br
            | &#x927;&#x95C;&#x915;&#x928; &#x915;&#x93E; &#x935;&#x93E;&#x938;&#x94D;&#x924;&#x93E; &#x915;&#x939;&#x940;&#x902;
            br
            | &#x939;&#x93E;&#x901; &#x915;&#x939;&#x940;&#x902;
            p
            p
            | &#x932;&#x95E;&#x94D;&#x95B;&#x94B;&#x902; &#x915;&#x947; &#x927;&#x93E;&#x917;&#x947; &#x916;&#x941;&#x932; &#x917;&#x90F;
            br
            | &#x905;&#x92C; &#x935;&#x94B; &#x915;&#x939;&#x93E;&#x928;&#x940; &#x939;&#x92E; &#x928;&#x939;&#x940;&#x902;
            br
            | &#x939;&#x93E;&#x902; &#x938;&#x92C; &#x92C;&#x940;&#x924;&#x940; &#x939;&#x948; &#x92C;&#x93E;&#x924;&#x947;&#x902;
            br
            | &#x915;&#x94B;&#x908; &#x926;&#x93F;&#x932;&#x93E;&#x938;&#x93E; &#x924;&#x915; &#x928;&#x939;&#x940;&#x902;
            br
            | &#x939;&#x948; &#x928;&#x939;&#x940;&#x902;
            p
            | &#x906;&#x902;&#x916;&#x94B;&#x902; &#x924;&#x932;&#x947; &#x92C;&#x948;&#x920;&#x947;
            br
            | &#x926;&#x94B; &#x92D;&#x940;&#x917;&#x947; &#x92D;&#x940;&#x917;&#x947; &#x91A;&#x947;&#x939;&#x930;&#x947; &#x939;&#x948;&#x902;
            br
            | &#x935;&#x939;&#x940;&#x902; &#x920;&#x939;&#x930;&#x947; &#x939;&#x948;&#x902;
            br
            | &#x92F;&#x93E;&#x926;&#x94B;&#x902; &#x935;&#x93E;&#x932;&#x947; &#x938;&#x93E;&#x930;&#x947;
            br
            | &#x915;&#x93F;&#x928;&#x93E;&#x930;&#x947; &#x92C;&#x95C;&#x947; &#x917;&#x939;&#x930;&#x947; &#x939;&#x948;&#x902;
            br
            | &#x939;&#x92E; &#x91C;&#x94B; &#x924;&#x948;&#x930;&#x947; &#x939;&#x948;&#x902;
            p
            | &#x928;&#x93E; &#x935;&#x94B; &#x92E;&#x948;&#x902; &#x928;&#x93E; &#x935;&#x94B; &#x924;&#x941;&#x92E;
            br
            | &#x928;&#x93E; &#x935;&#x94B; &#x92A;&#x939;&#x932;&#x940; &#x938;&#x940; &#x939;&#x948; &#x92C;&#x93E;&#x924;&#x947;&#x902;
            br
            | &#x928;&#x93E; &#x935;&#x94B; &#x926;&#x93F;&#x928; &#x926;&#x94B;&#x92A;&#x939;&#x930;
            br
            | &#x928;&#x93E; &#x935;&#x94B; &#x936;&#x92C;&#x928;&#x92E;&#x940; &#x938;&#x940; &#x930;&#x93E;&#x924;&#x947;&#x902;
            br
            |&#x928;&#x93E; &#x935;&#x94B; &#x92A;&#x939;&#x932;&#x940; &#x938;&#x940; &#x939;&#x948; &#x92C;&#x93E;&#x924;&#x947;&#x902;
            br
            |&#x928;&#x93E; &#x935;&#x94B; &#x936;&#x92C;&#x928;&#x92E;&#x940; &#x938;&#x940; &#x930;&#x93E;&#x924;&#x947;&#x902;
            p
            | &#x939;&#x93E;&#x902;
            br
            | &#x92A;&#x932; &#x91C;&#x94B; &#x939;&#x938;&#x93E;&#x924;&#x947; &#x925;&#x947; &#x915;&#x92D;&#x940;
            br
            | &#x905;&#x92C; &#x935;&#x94B; &#x930;&#x941;&#x932;&#x93E;&#x924;&#x947; &#x924;&#x915; &#x928;&#x939;&#x940;&#x902;
            br
            | &#x939;&#x92E;&#x94D;&#x92E;.. &#x905;&#x92C; &#x915;&#x94D;&#x92F;&#x93E; &#x939;&#x94B; &#x915;&#x92C; &#x915;&#x94D;&#x92F;&#x93E; &#x939;&#x94B;
            br
            | &#x915;&#x94B;&#x908; &#x920;&#x93F;&#x915;&#x93E;&#x928;&#x93E; &#x939;&#x940; &#x928;&#x939;&#x940;&#x902;
            br
            | &#x939;&#x948; &#x928;&#x939;&#x940;&#x902;
            p
            | &#x939;&#x93E;&#x901;
            br
            | &#x938;&#x91C;&#x926;&#x947; &#x92E;&#x947;&#x902; &#x925;&#x947; &#x939;&#x92E;&#x93E;&#x930;&#x947; &#x91C;&#x94B;
            br
            | &#x905;&#x92C; &#x935;&#x94B; &#x916;&#x941;&#x926;&#x93E; &#x938;&#x947; &#x915;&#x92E; &#x928;&#x939;&#x940;&#x902;
            br
            | &#x939;&#x92E; &#x909;&#x928;&#x938;&#x947; &#x92A;&#x942;&#x91B;&#x947; &#x915;&#x94D;&#x92F;&#x93E;
            br
            | &#x915;&#x94B;&#x908; &#x92C;&#x939;&#x93E;&#x928;&#x93E; &#x92D;&#x940; &#x928;&#x939;&#x940;&#x902;
            br
            | &#x939;&#x948; &#x928;&#x939;&#x940;&#x902;
            p
            | &#x92C;&#x93F;&#x928;&#x93E; &#x935;&#x91C;&#x939; &#x930;&#x942;&#x920;&#x947;
            br
            | &#x92F;&#x942;&#x901; &#x92A;&#x93E;&#x917;&#x932; &#x92C;&#x928;&#x947; &#x92C;&#x948;&#x920;&#x947; &#x939;&#x948;&#x902;
            br
            | &#x910;&#x938;&#x947; &#x915;&#x948;&#x938;&#x947; &#x939;&#x948;&#x902;
            br
            | &#x91C;&#x93E;&#x928;&#x947; &#x915;&#x939;&#x93E;&#x901; &#x926;&#x947;&#x916;&#x94B;
            br
            | &#x938;&#x93F;&#x924;&#x93E;&#x930;&#x94B;&#x902; &#x91C;&#x948;&#x938;&#x947; &#x91F;&#x942;&#x91F;&#x947; &#x939;&#x948;&#x902;
            br
            | &#x915;&#x939;&#x93E;&#x901; &#x91B;&#x942;&#x91F;&#x947; &#x939;&#x948;&#x902;
            p
            | &#x928;&#x93E; &#x935;&#x94B; &#x92E;&#x948;&#x902; &#x928;&#x93E; &#x935;&#x94B; &#x924;&#x941;&#x92E;
            br
            | &#x928;&#x93E; &#x935;&#x94B; &#x92A;&#x939;&#x932;&#x940; &#x938;&#x940; &#x939;&#x948; &#x92C;&#x93E;&#x924;&#x947;&#x902;
            br
            | &#x928;&#x93E; &#x935;&#x94B; &#x926;&#x93F;&#x928; &#x926;&#x94B;&#x92A;&#x939;&#x930;
            br
            | &#x928;&#x93E; &#x935;&#x94B; &#x936;&#x92C;&#x928;&#x92E;&#x940; &#x938;&#x940; &#x930;&#x93E;&#x924;&#x947;&#x902;
            br
            |&#x928;&#x93E; &#x935;&#x94B; &#x92A;&#x939;&#x932;&#x940; &#x938;&#x940; &#x939;&#x948; &#x92C;&#x93E;&#x924;&#x947;&#x902;
            br
            |&#x928;&#x93E; &#x935;&#x94B; &#x936;&#x92C;&#x928;&#x92E;&#x940; &#x938;&#x940; &#x930;&#x93E;&#x924;&#x947;&#x902;
            p
            | &#x928;&#x93E; &#x935;&#x94B; &#x92E;&#x948;&#x902; &#x928;&#x93E; &#x935;&#x94B; &#x924;&#x941;&#x92E;
            br
            | &#x939;&#x93E;&#x901; &#x928;&#x93E; &#x935;&#x94B; &#x924;&#x941;&#x92E;
            p



    #englishlyrics
        span#headinge Na Who Me (English)
            p
            | Hum Jo Deewane The Kabhi
            br
            |  Ab Woh Deewane Hum Nahin
            br
            |  Saanson Se Chhoota Hai
            br
            |  Dhadkan Ka Vaasta Kahin
            br
            |  Haan Kahin
            p
            | Lafzon Ke Dhaage Khul Gaye
            br
            |  Ab Wo Kaahani Hum Nahin
            br
            |  Haan Sab Beetee Hai Baatein
            br
            |  Koyi Dilaasa Tak Nahin
            br
            |  Hai Nahin
            p
            | Aankhon Tale Baithe
            br
            |  Do Bheege Bheege Chehre Hain
            br
            |  Wahin Thehre Hain
            br
            |  Yaadon Waale Saare
            br
            |  Kinaare Bade Gehre Hain
            br
            |  Hum Jo Taire Hain
            p
            | Na Woh Main Na Woh Tum
            br
            |  Na Woh Pehli Si Hain Baatein
            br
            |  Na Woh Din Dopehar
            br
            |  Na Woh Shabnami Si Raatein
            p Na Woh Pehli Si Hain Baatein
            p Na Woh Shabnami Si Raatein
            p
            | Haan
            br
            |  Pal Jo Hasate The Kabhi
            br
            |  Ab Woh Rulate Tak Nahin
            br
            |  Hmm.. Ab Kya Ho Kab Kya Ho
            br
            |  Koyi Thikana Hi Nahin
            br
            |  Hai Nahin
            p
            | Haan
            br
            |  Sajde Mein The Humare Jo
            br
            |  Ab Khuda Se Kam Nahin
            br
            |  Hum Unse Poochhe Kya
            br
            |  Koyi Bahaana Bhi Nahi
            br
            |  Hai Nahin
            p
            | Bina Wajah Roothe
            br
            |  Yun Paagal Bane Baithe Hain
            br
            |  Aise Kaise Hain
            br
            |  Jaane Kahan Dekho
            br
            |  Sitaaron Jaise Toote Hain
            br
            |  Kahan Chhoote Hain
            p
            | Na Wo Main Na Wo Tum
            br
            |  Na Woh Pehli Si Hain Baatein
            br
            |  Na Woh Din Dopahar
            br
            |  Na Woh Shabnami Si Raatein
            p Na Woh Pehli Si Hain Baatein
            p Na Woh Shabnami Si Raatein
            p
            | Na Woh Main Na Woh Tum
            br
            |  Haan Na Woh Tum
            p
