extends ../base.pug

block scripts
    script(src='/static/index.js')

block style
    style
      include ../../static/style.css 
      include ../../static/stylecontact.css
      include ../../static/styleabout.css 
      include ../../static/shreya.css 
      include ../../static/shreyasongs/tumakolekar.css

block content
    nav.vertical-menu1
        ul
          li #[a(href="/hangover") Hangover]
          li #[a(href="/mastani") Divani Mastani]
          li #[a(href="/tumakolekar") Tumako lekar]
          li #[a(href="/judaiyaan") judaiyaan]
          li #[a(href="/NaWhoMe") Na Who Me]
          li #[a(href="/BakiHai") Baki Hai]
          li #[a(href="/LagiNachute") Lagi Na Chute]
          li #[a(href="/bahara") Bahara]
          li #[a(href="/FhirSeTitle") Fhir Se Title Song]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]
          li #[a(href="/content") content]


    #hindilyrics
        span Tumako Lekar (Hindi) 

            p
            |&#x91A;&#x932;&#x94B; &#x924;&#x941;&#x92E;&#x915;&#x94B; &#x932;&#x947;&#x915;&#x930; &#x91A;&#x932;&#x947;&#x902; &#x939;&#x92E; &#x909;&#x928; &#x95E;&#x93F;&#x95B;&#x93E;&#x913;&#x902; &#x92E;&#x947;&#x902;
            br
            |&#x91C;&#x939;&#x93E;&#x901; &#x92E;&#x940;&#x920;&#x93E; &#x928;&#x936;&#x93E; &#x939;&#x948; &#x924;&#x93E;&#x930;&#x94B;&#x902; &#x915;&#x940; &#x91B;&#x93E;&#x901;&#x935;&#x94B;&#x902; &#x92E;&#x947;&#x902; &#x968;
            br
            |&#x91A;&#x932;&#x94B; &#x924;&#x941;&#x92E;&#x915;&#x94B; &#x932;&#x947;&#x915;&#x930; &#x91A;&#x932;&#x947;&#x902; &#x939;&#x92E; &#x909;&#x928; &#x95E;&#x93F;&#x95B;&#x93E;&#x913;&#x902; &#x92E;&#x947;&#x902;
            p
            |&#x917;&#x93E;&#x924;&#x940; &#x938;&#x930;&#x938;&#x930;&#x93E;&#x924;&#x940; &#x907;&#x928; &#x939;&#x935;&#x93E;&#x913;&#x902; &#x938;&#x902;&#x917; &#x906;&#x913; &#x92A;&#x93E;&#x938; &#x92E;&#x947;&#x930;&#x947; &#x906;&#x928;&#x93E;
            br
            |&#x938;&#x92A;&#x928;&#x94B;&#x902; &#x915;&#x93E; &#x938;&#x95E;&#x930; &#x939;&#x948; &#x92E;&#x947;&#x930;&#x947; &#x926;&#x93F;&#x932; &#x915;&#x93E; &#x92F;&#x947; &#x92D;&#x901;&#x935;&#x930; &#x939;&#x948; &#x907;&#x938;&#x92E;&#x947;&#x902; &#x921;&#x942;&#x92C; &#x91C;&#x93E;&#x928;&#x93E;
            br
            |&#x95B;&#x930;&#x93E; &#x938;&#x93E; &#x932;&#x92E;&#x94D;&#x939;&#x93E; &#x91B;&#x941;&#x92A;&#x93E; &#x925;&#x93E; &#x905;&#x92C; &#x92E;&#x93F;&#x932; &#x917;&#x92F;&#x93E;
            br
            |&#x91C;&#x939;&#x93E;&#x901; &#x92E;&#x940;&#x920;&#x93E; &#x928;&#x936;&#x93E; &#x939;&#x948; &#x924;&#x93E;&#x930;&#x94B;&#x902; &#x915;&#x940; &#x91B;&#x93E;&#x901;&#x935;&#x94B;&#x902; &#x92E;&#x947;&#x902;
            br
            |&#x91A;&#x932;&#x94B; &#x924;&#x941;&#x92E;&#x915;&#x94B; &#x932;&#x947;&#x915;&#x930; &#x91A;&#x932;&#x947;&#x902; &#x939;&#x92E; &#x909;&#x928; &#x95E;&#x93F;&#x95B;&#x93E;&#x913;&#x902; &#x92E;&#x947;&#x902;
            p
            |&#x92E;&#x926;&#x94D;&#x927;&#x92E; &#x930;&#x94B;&#x936;&#x928;&#x940; &#x939;&#x948; &#x914;&#x930; &#x91A;&#x901;&#x91A;&#x932; &#x91A;&#x93E;&#x901;&#x926;&#x928;&#x940; &#x939;&#x948; &#x91A;&#x932;&#x947; &#x906;&#x913; &#x928;&#x93E;
            br
            |&#x936;&#x92C;&#x928;&#x92E; &#x938;&#x940; &#x91A;&#x941;&#x92D;&#x928; &#x939;&#x948; &#x914;&#x930; &#x92E;&#x939;&#x915;&#x93E; &#x938;&#x93E; &#x92E;&#x93F;&#x932;&#x928; &#x939;&#x948; &#x926;&#x942;&#x930; &#x91C;&#x93E;&#x913; &#x928;&#x93E;
            br
            |&#x938;&#x941;&#x939;&#x93E;&#x928;&#x93E; &#x938;&#x92A;&#x928;&#x93E; &#x924;&#x941;&#x92E;&#x94D;&#x939;&#x93E;&#x930;&#x93E; &#x938;&#x91A; &#x939;&#x94B; &#x917;&#x92F;&#x93E;
            br
            |&#x91C;&#x939;&#x93E;&#x901; &#x92E;&#x940;&#x920;&#x93E; &#x928;&#x936;&#x93E; &#x939;&#x948; &#x924;&#x93E;&#x930;&#x94B;&#x902; &#x915;&#x940; &#x91B;&#x93E;&#x901;&#x935;&#x94B;&#x902; &#x92E;&#x947;&#x902;
            br
            |&#x91A;&#x932;&#x94B; &#x924;&#x941;&#x92E;&#x915;&#x94B; &#x932;&#x947;&#x915;&#x930; &#x91A;&#x932;&#x947;&#x902; &#x924;&#x93E;&#x930;&#x94B;&#x902; &#x915;&#x940; &#x91B;&#x93E;&#x901;&#x935;&#x94B;&#x902; &#x92E;&#x947;&#x902;
            p



    #englishlyrics
        span#headinge Tumako lekar (English)
            p
            | Chalo Tumko Lekar Chale Hum Un Fizao Mein
            br
            | Jahan Meetha Nasha Hai Taaron Ke Chaaon Mein
            br
            | Chalo Tumko Lekar Chale Hum Un Fizao Mein
            br
            | Jahan Meetha Nasha Hai Taaron Ki Chaaon Mein
            br
            | Chalo Tumko Lekar Chale Hum Un Fizao Mein
            p
            | Gaati Sarsarati In Hawaon Ke Sang Aao Paas Mere Aaona
            br
            | Sapno Ka Safar Hai Mere Dil Ka Yeh Bhawar Hai Is Mein Doob Jana
            br
            | Zarasa Lamha Chupa tha Ab Mil Gaya
            br
            | Jahan Meetha Nasha Hai Taaron Ki Chaaon Mein
            br
            | Chalo Tumko Lekar Chale Hum Un Fizao Mein
            p
            | Madham Roshni Hai Aur Chanchal Chandni Hai Chale Aaona
            br
            | Shabnam Si Chubhan  Hai Aur Mehka Sa Milan Hai Door Jao Na
            br
            | Suhana Sapna Tumhara Sach Ho Gaya
            br
            | Jahan Meetha Nasha Hai Taaron Ki Chaaon Mein
            br
            | Chalo Tumko Lekar Chale Hum Un Fizao Mein
            br
            | Jahan Meetha Nasha Hai Taaron Ki Chaaon Mein.
            p